.kit.kit--scroll
  .kit__header.kit__header--pink
    .kit__subtitle 192 reactions
    .kit__title.h2-kit HUMAN TCR
  ul.kit__list
    li UMI 5’RACE
    li TCR ALPHA &amp; BETA
    li BLOOD / CELLS / TISSUE
    li 150 + 150 Sequencing
    li MISEQ / NEXTSEQ
    li High accuracy
  .kit__btns
    button.kit__button.notes.bordered-link.bordered-link--black.inquire-button(type="button", data-subject="Human TCR Kit") Inquire
    a.kit__button.notes.bordered-link(href="./humantcrkit") Learn more ↳
