.kit.kit--scroll
  .kit__header.kit__header--purple
    .kit__subtitle 24 reactions
    .kit__title.h2-kit HUMAN DNA TCR
  ul.kit__list
    li DNA MULTIPLEX
    li TCR ALPHA &amp; BETA
    li BLOOD / CELLS / TISSUE / FF / FFPE
    li 150 + 150 NT SEQUENCING
    li HIGH sensitivity
    li MISEQ/NEXTSEQ/HISEQ/NOVASEQ
  .kit__btns
    button.kit__button.notes.bordered-link.bordered-link--black.inquire-button(type="button", data-subject="Human DNA TCR Kit") Inquire
    a.kit__button.notes.bordered-link(href="./humanDNAkit") Learn more ↳
