.kit.kit--scroll
  .kit__header.kit__header--orange
    .kit__subtitle 24 reactions
    .kit__title.h2-kit Human multiplex TCR
  ul.kit__list
    li Multiplex PCR
    li TCR alpha &amp; beta
    li Blood / Cells / Tissue / FF / FFPE
    li 150 + 150 Sequencing
    li MiSeq / NextSeq / HiSeq / NovaSeq
    li High sensitivity
  .kit__btns
    button.kit__button.notes.bordered-link.bordered-link--black.inactive(type="button") coming soon
    a.kit__button.notes.bordered-link(href="./humanmultiTCRkit") Learn more ↳
