.kit.kit--scroll
  .kit__header.kit__header--green
    .kit__subtitle 24 reactions
    .kit__title.h2-kit Monkey 5’RACE TCR
  ul.kit__list
    li UMI 5’RACE
    li TCR alpha &amp; beta
    li Blood / Cells / FF TISSUE
    li 150 + 150 nt Sequencing
    li MiSeq/NextSeq/HiSeq/NovaSeq
    li High accuracy
  .kit__btns
    button.kit__button.notes.bordered-link.bordered-link--black.inquire-button(type="button", data-subject="Monkey 5’RACE TCR Kit") Inquire
    a.kit__button.notes.bordered-link(href="./monkeyTCRkit") Learn more ↳
