.full-info {
  margin-top: 57px;
  margin-bottom: 140px;
  @include breakpoint-down($breakpoint-lg-max) {
    margin-top: 38px;
    margin-bottom: 155px;
  }
  @include breakpoint-down($breakpoint-md-max) {
    margin-bottom: 85px;
  }
  @include breakpoint-down($breakpoint-sm-max) {
    margin-top: 27px;
    margin-bottom: 80px;
  }

  & ~ .kits {
    padding-bottom: 100px;
    margin-bottom: 100px;
    margin-top: -22px;

    @include breakpoint-down($breakpoint-lg-max) {
      padding-bottom: 72px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      padding-bottom: 55px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-top: 0;
    }

    .kits__title {
      margin-bottom: 80px;
    }

  }

  &__grid {
    display: flex;
    margin-top: 85px;

    @include breakpoint-down($breakpoint-lg-max) {
      margin-top: 70px;
    }
    @include breakpoint-down(767px) {
      flex-direction: column;
      align-items: center;
      margin-top: 47px;
    }
  }

  &__kit {
    width: 462px;
    margin-right: 155px;
    flex-shrink: 0;
    @include breakpoint-down($breakpoint-lg-max) {
      width: 375px;
      margin-right: 80px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      width: 305px;
      margin-right: 35px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 335px;
      margin-right: 0;
      margin-bottom: 50px;
    }
    @include breakpoint-down($breakpoint-xxs-max) {
      width: 269px;
      height: 414px;
    }
  }

  &__title {
    margin-top: 14px;
    margin-bottom: 21px;
    @include breakpoint-down($breakpoint-lg-max) {
      margin-top: -10px;
      margin-bottom: 5px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin-top: 0;
      margin-bottom: 9px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-bottom: 16px;
    }
  }

  &__text {
    padding-right: 26%;
    margin-bottom: 61px;
    @include breakpoint-down($breakpoint-lg-max) {
    margin-bottom: 33px;
    padding-right: 130px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      padding-right: 0;
      margin-bottom: 50px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-bottom: 36px;
    }
  }

  &__links {
    margin-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint-down($breakpoint-lg-max) {
      margin-bottom: 36px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin-bottom: 13px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-bottom: 34px;
    }

    button, a {
      padding: 11px 21px;
      min-width: 130px;
      margin-right: 10px;
      @include breakpoint-down($breakpoint-lg-max) {
        margin-right: 18px;
        min-width: 143px;
        padding: 11px;
      }
      @include breakpoint-down($breakpoint-md-max) {
        margin-bottom: 14px;
        margin-right: 10px;
      }
      @include breakpoint-down($breakpoint-sm-max) {
        padding: 11px 24px;
      }

      .svg-icon {
        height: 15px;
        width: auto;
        max-width: 15px;
        margin-right: 10px;
      }
    }

    &-helper {
      @include breakpoint-down($breakpoint-sm-max) {
        width: calc(100% - 150px);
      }
    }
  }

  &__table {
    border-top: 1px solid #0F0E12;
    padding-top: 5px;
    @include breakpoint-down($breakpoint-md-max) {
      padding-top: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding-top: 0;
      border-top: 1px solid rgba(#0F0E12, 1);
    }
  }

  &__table-item {
    padding: 0;
    display: flex;
    border-bottom: 1px solid rgba(#0F0E12, 0.1);
  }

  &__table-title {
    width: 152px;
    flex-shrink: 0;
    text-transform: uppercase;
    padding: 17px 15px 16px 0;
    font-family: $font-family-IBM;
    @include breakpoint-down($breakpoint-lg-max) {
      width: 115px;
      flex-shrink: 0;
      text-transform: uppercase;
      padding: 11px 15px 13px 0;
      font-family: $font-family-IBM;
      margin: 9px 0 7px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      padding: 18px 15px 18px 0;
      margin: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding: 18px 15px 22px 0;
      width: 118px;
    }
  }

  &__table-data {
    flex-grow: 1;
    font-family: $font-family-IBM;

    span {
      display: inline-block;
      margin-right: 13px;
      padding: 11px 15px 13px 0;
      border-radius: 10px;
      margin-bottom: 0;
      margin-top: 9px;
      @include breakpoint-down($breakpoint-sm-max) {

      }


      &.colored {
        padding-left: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }

      &.color-tag-IGH {
        background-color: $color-tag-IGH;
      }
      &.color-tag-IGK {
        background-color: $color-tag-IGK;
      }
      &.color-tag-IGL {
        background-color: $color-tag-IGL;
      }
      &.color-tag-IgM {
        background-color: $color-tag-IgM;
      }
      &.color-tag-IgD {
        background-color: $color-tag-IgD;
      }
      &.color-tag-IgG1 {
        background-color: $color-tag-IgG1;
      }
      &.color-tag-IG2 {
        background-color: $color-tag-IG2;
      }
      &.color-tag-IgG3 {
        background-color: $color-tag-IgG3;
      }
      &.color-tag-IgG4 {
        background-color: $color-tag-IgG4;
      }
      &.color-tag-IgA {
        background-color: $color-tag-IgA;
      }
      &.color-tag-IgE {
        background-color: $color-tag-IgE;
      }
    }
  }
}