.header {
  padding: 31px 0;
  font-family: $font-family-IBM;
  @include breakpoint-down($breakpoint-sm-max) {
    padding: 31px 6px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 1000;
    width: 232px;
    height: 43px;
    flex-shrink: 0;
    display: flex;
    span {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 100%;
      margin-right: 8px;
      &:before {
        position: absolute;
        content: "";
        width: 17px;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMTc5QjZCIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");

      }
      &.green {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMTc5QjZCIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
        }
      }
      &.green2 {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzE3OUI2QiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
        }
      }
      &.pink {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjRThBNEI0IiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
        }
      }
      &.blue2 {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzY5QzdEQyIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
        }
      }
      &.blue4 {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjNjlDN0RDIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
        }
      }
      &.orange {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGxpbmUgeTE9IjI4IiB4Mj0iMTciIHkyPSIyOCIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjE5IiB4Mj0iMTciIHkyPSIxOSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iI0U5QkM5MyIgc3Ryb2tlLXdpZHRoPSIzIi8+CjxsaW5lIHkxPSIxLjUiIHgyPSIxNyIgeTI9IjEuNSIgc3Ryb2tlPSIjMEYwRTEyIiBzdHJva2Utd2lkdGg9IjMiLz4KPC9zdmc+Cg==");
        }
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }

    @include breakpoint-down($breakpoint-lg-max) {
      width: 185px;
      height: 34px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      width: 167px;
      height: 30px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 185px;
      height: 34px;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    background-color: $color-background-grey;

    @include breakpoint-down($breakpoint-sm-max) {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      left: -100%;
      top: 0;
      padding-top: 100px;
      transition: left $transition-duration;

      &.is-shown {
        left: 0;
        z-index: 11;
        background-color: $color-background-grey;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-right: 4%;
    @include breakpoint-down($breakpoint-lg-max) {
      margin-right: 5%;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin-right: auto;
      margin-left: auto;
      flex-grow:0;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      display: block;
      margin: 0 27px;
    }
  }

  &__link {
    text-align: center;
    text-transform: uppercase;
    padding: 0 27px;
    &.inactive a {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -3px;
        height: 1px;
        width: 100%;
        background-color: $color-base;
      }
    }
    @include breakpoint-down($breakpoint-lg-max) {
      padding: 0 15px;
    }

    @include breakpoint-down($breakpoint-md-max) {
      padding: 0 7px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {

      border-bottom: 1px solid rgba(#000000, 0.2);
      text-align: left;
      a,span {
        padding: 24px 0 23px;
        display: block;
        &:after {
          display: none;
        }
      }
    }
  }

  &__contact-link {
    margin: 0 0 0 27px;
    width: 145px;
    height: 43px;
    a {
      width: 100%;
      height: 100%;
      padding: 9px 21px;
      @include breakpoint-down($breakpoint-sm-max) {
        padding: 12px 26px;
      }
    }

    @include breakpoint-down($breakpoint-lg-max) {
      width: 104px;
      height: 35px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      width: 93px;
      height: 35px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 111px;
      height: 42px;
      margin-top: 85px;
      margin-bottom: 55px;
    }
  }

  &__burger {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;

    @include breakpoint-down($breakpoint-sm-max) {
      opacity: 1;
      pointer-events: initial;
    }

    button {
      @include button-reset-style;
    }
  }

  &__close {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;

    @include breakpoint-down($breakpoint-sm-max) {
      &.is-shown {
        opacity: 1;
        pointer-events: initial;
        position: absolute;
        top: 38px;
        right: 20px;
        z-index: 1000;
      }
    }

    button {
      @include button-reset-style;
    }
  }

  &__mobile-bottom {
    display: none;

    @include breakpoint-down($breakpoint-sm-max) {
      display: flex;
      margin: auto 24px 21px;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }

    p {
      margin: 0 0 4px;
      text-transform: uppercase;
    }

    svg {
      width: 40px;
      height: 30px;
    }
  }
}