.header {
  padding: 25px 0;
  font-family: $font-family-IBM;
  z-index: 10;
  @include breakpoint-down($breakpoint-sm-max) {
    padding: 20px 6px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-down($breakpoint-sm-max) {
      padding-left: 0;
      padding-right: 15px;
    }
  }

  &__logo {
    z-index: 1000;
    width: 171px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    span {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 100%;
      @include breakpoint-down($breakpoint-sm-max) {
        width: 15px;
      }
      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOC4xOTUzIiB4Mj0iMTciIHkyPSIyOC4xOTUzIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjE5LjE5NTMiIHgyPSIxNyIgeTI9IjE5LjE5NTMiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTAuMjk0OSIgeDI9IjE3IiB5Mj0iMTAuMjk0OSIgc3Ryb2tlPSIjN0Y0QkJBIiBzdHJva2Utd2lkdGg9IjMiLz4NCjxsaW5lIHkxPSIxLjY5NTMxIiB4Mj0iMTciIHkyPSIxLjY5NTMxIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEuNjk1MzEiIHgyPSIxNyIgeTI9IjEuNjk1MzEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+");

      }

      &.purple {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOC4xOTUzIiB4Mj0iMTciIHkyPSIyOC4xOTUzIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjE5LjE5NTMiIHgyPSIxNyIgeTI9IjE5LjE5NTMiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTAuMjk0OSIgeDI9IjE3IiB5Mj0iMTAuMjk0OSIgc3Ryb2tlPSIjN0Y0QkJBIiBzdHJva2Utd2lkdGg9IjMiLz4NCjxsaW5lIHkxPSIxLjY5NTMxIiB4Mj0iMTciIHkyPSIxLjY5NTMxIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEuNjk1MzEiIHgyPSIxNyIgeTI9IjEuNjk1MzEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+");
        }
      }
      &.green {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOC4xOTUzIiB4Mj0iMTciIHkyPSIyOC4xOTUzIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjE5LjE5NTMiIHgyPSIxNyIgeTI9IjE5LjE5NTMiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTAuMjk0OSIgeDI9IjE3IiB5Mj0iMTAuMjk0OSIgc3Ryb2tlPSIjNzBBQkE2IiBzdHJva2Utd2lkdGg9IjMiLz4NCjxsaW5lIHkxPSIxLjY5NTMxIiB4Mj0iMTciIHkyPSIxLjY5NTMxIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEuNjk1MzEiIHgyPSIxNyIgeTI9IjEuNjk1MzEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+DQo=");
        }
      }
      &.lila {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOCIgeDI9IjE3IiB5Mj0iMjgiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTkiIHgyPSIxNyIgeTI9IjE5IiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzYwNTBFMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+DQo=");
        }
      }
      &.blue {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOCIgeDI9IjE3IiB5Mj0iMjgiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTkiIHgyPSIxNyIgeTI9IjE5IiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzU0ODFFMSIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+DQo=");
        }
      }
      &.peach {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOCIgeDI9IjE3IiB5Mj0iMjgiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTkiIHgyPSIxNyIgeTI9IjE5IiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iI0YxQjM3QSIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+DQo=");
        }
      }
      &.orange {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOC4xOTUzIiB4Mj0iMTciIHkyPSIyOC4xOTUzIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjE5LjE5NTMiIHgyPSIxNyIgeTI9IjE5LjE5NTMiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTAuMjk0OSIgeDI9IjE3IiB5Mj0iMTAuMjk0OSIgc3Ryb2tlPSIjRUI4RTdBIiBzdHJva2Utd2lkdGg9IjMiLz4NCjxsaW5lIHkxPSIxLjY5NTMxIiB4Mj0iMTciIHkyPSIxLjY5NTMxIiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEuNjk1MzEiIHgyPSIxNyIgeTI9IjEuNjk1MzEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+DQo=");
        }
      }
      &.light-green {
        &:before {
          background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNyAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxsaW5lIHkxPSIyOCIgeDI9IjE3IiB5Mj0iMjgiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMTkiIHgyPSIxNyIgeTI9IjE5IiBzdHJva2U9IiMwRjBFMTIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPGxpbmUgeTE9IjEwLjA5OTYiIHgyPSIxNyIgeTI9IjEwLjA5OTYiIHN0cm9rZT0iIzg4Qzc2QiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iIzBGMEUxMiIgc3Ryb2tlLXdpZHRoPSIzIi8+DQo8bGluZSB5MT0iMS41IiB4Mj0iMTciIHkyPSIxLjUiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMyIvPg0KPC9zdmc+DQo=");
        }
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }

    @include breakpoint-down($breakpoint-md-max) {
      width: 167px;
      height: 30px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 165px;
      height: 48px;
      padding: 12px;
      background: rgba(247, 247, 247, 0.6);
      backdrop-filter: blur(4px);
      border-radius: 10px;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    // background-color:rgba(247, 247, 247, 0.6);

    @include breakpoint-down($breakpoint-sm-max) {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      left: -100%;
      top: 0;
      padding-top: 100px;
      transition: left $transition-duration;
      backdrop-filter: blur(4px);
      border-radius: 10px;
      background: rgba(247, 247, 247, 0.95);

      &.is-shown {
        left: 0;
        z-index: 11;

      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    background: rgba(247, 247, 247, 0.6);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 3px 30px 0;
    min-height: 48px;
    @include breakpoint-down($breakpoint-md-max) {
      margin-right: auto;
      margin-left: auto;
      flex-grow:0;
      min-height: 35px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      display: block;
      padding: 0 27px;
      margin: 0;
    }
  }

  &__link {
    text-align: center;
    text-transform: uppercase;
    padding: 0 27px;
    &.inactive a {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -3px;
        height: 1px;
        width: 100%;
        background-color: $color-base;
      }
    }
    @include breakpoint-down($breakpoint-lg-max) {
      padding: 0 15px;
    }

    @include breakpoint-down($breakpoint-md-max) {
      padding: 0 7px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {

      border-bottom: 1px solid rgba(#000000, 0.2);
      text-align: left;
      a,span {
        padding: 24px 0 23px;
        display: block;
        &:after {
          display: none;
        }
      }
    }
  }

  &__contact-link {
    margin: 0 0 0 27px;
    width: 145px;
    height: 48px;
    display: flex;
    align-items: center;

    a {
      margin: 9px 21px;
      display: block;

      @include breakpoint-down($breakpoint-sm-max) {
        padding: 12px 26px;
        border: 1px solid #0F0E12;
        border-radius: 10px;
        margin-left: 0;
      }
    }

    @include breakpoint-down($breakpoint-lg-max) {
      width: 104px;
      height: 48px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      width: 93px;
      height: 35px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 111px;
      height: 42px;
      margin-top: 85px;
      margin-bottom: 55px;
    }
  }

  &__burger {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;
    width: 43px;
    height: 48px;
    background: rgba(247, 247, 247, 0.6);
    backdrop-filter: blur(0px);
    border-radius: 10px;

    @include breakpoint-down($breakpoint-sm-max) {
      opacity: 1;
      pointer-events: initial;
    }

    button {
      @include button-reset-style;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__close {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;
    width: 43px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 16px;
      width: auto;
    }

    @include breakpoint-down($breakpoint-sm-max) {
      &.is-shown {
        opacity: 1;
        pointer-events: initial;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1000;
      }
    }

    button {
      @include button-reset-style;
    }
  }

  &__mobile-bottom {
    display: none;

    @include breakpoint-down($breakpoint-sm-max) {
      display: flex;
      margin: auto 24px 21px;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }

    p {
      margin: 0 0 4px;
      text-transform: uppercase;
    }

    svg {
      width: 40px;
      height: 30px;
    }
  }
}