.header {
  padding: 31px 0;
  font-family: $font-family-IBM;
  @include breakpoint-down($breakpoint-sm-max) {
    padding: 31px 6px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    z-index: 1000;
    width: 207px;
    height: 43px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }

    @include breakpoint-down($breakpoint-lg-max) {
      width: 160px;
      height: 34px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      width: 142px;
      height: 30px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 160px;
      height: 34px;
    }
  }

  &__menu {
    display: flex;
    flex-grow: 1;
    background-color: $color-background-grey;

    @include breakpoint-down($breakpoint-sm-max) {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      left: -100%;
      top: 0;
      padding-top: 100px;
      transition: left $transition-duration;

      &.is-shown {
        left: 0;
        z-index: 10;
        background-color: $color-background-grey;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-right: 4%;
    @include breakpoint-down($breakpoint-lg-max) {
      margin-right: 5%;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin-right: auto;
      margin-left: auto;
      flex-grow:0;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      display: block;
      margin: 0 27px;
    }
  }

  &__link {
    text-align: center;
    text-transform: uppercase;
    padding: 0 27px;
    &.inactive a {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -3px;
        height: 1px;
        width: 100%;
        background-color: $color-base;
      }
    }
    @include breakpoint-down($breakpoint-lg-max) {
      padding: 0 15px;
    }

    @include breakpoint-down($breakpoint-md-max) {
      padding: 0 7px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {

      border-bottom: 1px solid rgba(#000000, 0.2);
      text-align: left;
      a,span {
        padding: 24px 0 23px;
        display: block;
        &:after {
          display: none;
        }
      }
    }
  }

  &__contact-link {
    margin: 0 0 0 27px;
    width: 145px;
    height: 43px;
    a {
      width: 100%;
      height: 100%;
      padding: 9px 21px;
      @include breakpoint-down($breakpoint-sm-max) {
        padding: 12px 26px;
      }
    }

    @include breakpoint-down($breakpoint-lg-max) {
      width: 104px;
      height: 35px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      width: 93px;
      height: 35px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      width: 111px;
      height: 42px;
      margin-top: 85px;
      margin-bottom: 55px;
    }
  }

  &__burger {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;

    @include breakpoint-down($breakpoint-sm-max) {
      opacity: 1;
      pointer-events: initial;
    }

    button {
      @include button-reset-style;
    }
  }

  &__close {
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-duration;

    @include breakpoint-down($breakpoint-sm-max) {
      &.is-shown {
        opacity: 1;
        pointer-events: initial;
        position: absolute;
        top: 38px;
        right: 20px;
        z-index: 1000;
      }
    }

    button {
      @include button-reset-style;
    }
  }

  &__mobile-bottom {
    display: none;

    @include breakpoint-down($breakpoint-sm-max) {
      display: flex;
      margin: auto 24px 21px;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }

    p {
      margin: 0 0 4px;
      text-transform: uppercase;
    }

    svg {
      width: 40px;
      height: 30px;
    }
  }
}