.hero {
  display: grid;
  grid-template-columns: auto 40%;
  @include breakpoint-down($breakpoint-lg-max) {
    grid-template-columns: auto 45%;
  }
  @include breakpoint-down($breakpoint-md-max) {
    grid-template-columns: 470px auto;
  }
  @include breakpoint-down($breakpoint-sm-max) {
    display: flex;
    flex-direction: column-reverse;
  }
  &__title {
    @include breakpoint-up($breakpoint-xl-min) {
      font-weight: 600;
      font-size: 123px;
      line-height: 130px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      margin: 175px 0 250px;
      padding-right: 30px;
    }
    font-weight: 600;
    margin: 175px 0 250px;
    padding-right: 30px;

    @include breakpoint-down($breakpoint-lg-max) {
      margin: 175px 0 220px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin: 50px 0 77px;
      letter-spacing: -0.02em;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin: 50px 0 47px;
      letter-spacing: -0.02em;
      padding: 0;
    }
  }
  &__animation {
    height: 660px;
    display: flex;
    @include breakpoint-down($breakpoint-lg-max) {
      padding-top: 30px;
      height: 540px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      height: 317px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      justify-content: center;
      padding-top: 0;
    }
  }

  &__img {
    width: auto;
    height: 90%;
    @include breakpoint-down($breakpoint-lg-max) {
      height: 100%;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin-left: auto;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-right: auto;
    }
  }
}