.hero {
  display: grid;
  grid-template-columns: auto 40%;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "a b"
    "c c";
  @include breakpoint-down($breakpoint-lg-max) {
    grid-template-columns: auto 45%;
  }
  @include breakpoint-down($breakpoint-md-max) {
    grid-template-columns: 50% 50%;
  }
  @include breakpoint-down($breakpoint-sm-max) {
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include breakpoint-up($breakpoint-xl-min) {
      font-weight: 600;
      font-size: 123px;
      line-height: 130px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      margin: 175px 0 250px;
      padding-right: 30px;
    }
    font-weight: 600;
    margin: 175px 0 250px;
    padding-right: 30px;

    @include breakpoint-down($breakpoint-lg-max) {
      margin: 175px 0 220px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin: 50px 0 77px;
      letter-spacing: -0.02em;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin: 50px 0 47px;
      letter-spacing: -0.02em;
      padding: 0;
    }
  }

  &__title-container {
    grid-area: a;
    @include breakpoint-down($breakpoint-md-max) {
      margin: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      order: 2;
      margin-right: auto;
      margin-left: 0 !important;
    }
  }
  &__animation {
    height: 660px;
    display: flex;
    position: sticky;
    top: 60px;
    grid-area: b;
    z-index: 100000;
    @include breakpoint-down($breakpoint-lg-max) {
      padding-top: 30px;
      height: 540px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      height: 317px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      justify-content: center;
      padding-top: 0;
      position: static;
      z-index: unset;
    }
  }

  svg {
    width: auto;
    height: 90%;
    @include breakpoint-down($breakpoint-lg-max) {
      height: 100%;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin: 0 auto;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-right: auto;
    }
  }

  .about__text {
    @include breakpoint-down($breakpoint-md-max) {
      padding-right:45%;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding-right: 0;
    }
  }
  .about {
    @include breakpoint-down($breakpoint-sm-max) {
      order: 3
    }

  }
}