.kits {
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  position: relative;
    &::after {
      position: absolute;
      content: "";
      border-bottom: 1px solid #0F0E12;
      width: calc(100% - 250px);
      height: 1px;
      left: 125px;
      bottom: 0;
    }
  @include breakpoint-down($breakpoint-lg-max) {
    margin-bottom: 160px;
    &::after {
      width: calc(100% - 210px);
      left: 105px;
    }
  }
  @include breakpoint-down($breakpoint-md-max) {
    margin-bottom: 77px;
    &::after {
      width: calc(100% - 172px);
      left: 86px;
    }
  }
  @include breakpoint-down(880px) {
    &::after {
      width: calc(100% - 40px);
      left: 20px;
    }
  }
  @include breakpoint-down($breakpoint-sm-max) {
    margin-top: 23px;
    margin-bottom: 63px;

  }

  &__title {
    margin-bottom: 65px;
    @include breakpoint-down($breakpoint-lg-max) {
      margin-bottom: 108px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      margin-bottom: 85px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-bottom: 41px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 462px);
    grid-gap: 60px 95px;

    @include breakpoint-down(1820px) {
      grid-template-columns: repeat(3, 31%);
      grid-gap: 58px 54px;

    }
    @include breakpoint-down(1439px) {
      grid-template-columns: repeat(3, 31.5%);
      grid-gap: 41px 33px;
    }
    @include breakpoint-down(1300px) {
      grid-template-columns: repeat(3,32%);
      grid-gap: 41px 22px;
      &::after {
        bottom: -55px;
      }
    }
    @include breakpoint-down(979px) {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 0;
    }
    @include breakpoint-down(750px) {
      flex-direction: column;
      &::after {
        bottom: -37px;
        width: calc(100%-40px);
        left: 20px;
      }
    }

    &--scroll {
      margin-top: 100px;
      @include breakpoint-down($breakpoint-lg-max) {
        margin-top: 70px;
      }
      @include breakpoint-down(1439px) {
        margin-top: 60px;
        grid-template-columns: repeat(2,337px);
        grid-gap: 100px 133px;
        .kits__grid-item {
          margin-right: 0;
        }
      }
      @include breakpoint-between(767px, 979px) {
        grid-gap: 40px 40px;
      }
      @include breakpoint-down($breakpoint-sm-max) {
        flex-direction: row;
        grid-gap: 0;
        margin: 50px -20px 0;
        padding-left: 20px;
        overflow: scroll;
        flex-wrap: nowrap;

        &::-webkit-scrollbar {
          display: none;
        }

        .kits__grid-item {
          position: relative;
          margin-right: 30px;

          &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            right: -20px;
            top: 0;
          }
        }
      }


      @include breakpoint-down($breakpoint-sm-max) {
        .kit {
          width: 269px;
          height: 414px;
          padding: 28px 0 32px;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit-mob-scroll.png);
        }
        .kit__header {
          margin-right: 50px;
          padding-left: 15px;
        }
        .kit__list,
        .kit__btns {
          padding-left: 15px;
        }
        .kit__list {
          padding-bottom: 0;
        }
        .kit__button {
          margin-right: 6px;
          padding: 11px;
        }
      }
    }
  }
  &__grid-item {
    @include breakpoint-down(979px) {
      margin-right: 20px;
      margin-bottom: 30px;
    }
    @include breakpoint-down(750px) {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      margin-right: 0;
    }
  }
}