.kit {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit.png);
  background-blend-mode: soft-light, normal;
  background-repeat: no-repeat;
  border-radius: $border-radius;
  width: 462px;
  height: 671px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 62px 0 52px;

  @include breakpoint-down(1820px) {
    width: 375px;
    height: 542px;
    padding: 52px 0 38px;
    background-size: cover;
  }
  @include breakpoint-down(1439px) {
    width: 335px;
    height: 460px;
    padding: 33px 0 36px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit-mob.png);
  }
  @include breakpoint-down(1279px) {
    width: 247px;
    height: 348px;
    padding: 25px 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit-tablet.png);
  }
  @include breakpoint-down($breakpoint-sm-max) {
    width: 335px;
    height: 460px;
    padding: 33px 0 36px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit-mob.png);
  }
  @include breakpoint-down($breakpoint-xxs-max) {
    width: 269px;
    height: 414px;
    padding: 28px 0 32px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit-mob-scroll.png);
  }

  &__header {
    padding: 25px 50px;
    height: 222px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 115px;
    @include breakpoint-down(1820px) {
      padding: 20px 40px;
      height: 180px;
      margin-right: 94px;
    }
    @include breakpoint-down(1439px) {
      padding-left: 36px;
      height: 160px;
      padding: 20px 40px;
      margin-right: 55px;
    }
    @include breakpoint-down(1279px) {
      margin-right: 30px;
      padding: 9px 20px 5px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding-left: 36px;
      height: 160px;
      padding: 20px 40px;
      margin-right: 55px;
    }
    @include breakpoint-down($breakpoint-xxs-max) {
      margin-right: 50px;
      padding-left: 15px;
    }

    &--pink {
      background-color: $color-kit-pink;
    }
    &--orange {
      background-color: $color-kit-orange;
    }
    &--purple {
      background-color: $color-kit-purple;
    }
    &--blue {
      background-color: $color-kit-blue;
    }
    &--green {
      background-color: $color-kit-green;
    }
  }

  &__subtitle {
    font-family: $font-family-IBM;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    @include breakpoint-down(1820px) {
      margin-bottom: 13px;
      font-size: 16px;
      line-height: 21px;
    }
    @include breakpoint-down(1439px) {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 18px;
    }
    @include breakpoint-down(1279px) {
      margin-bottom: 4px;

    }
    @include breakpoint-down($breakpoint-sm-max) {
      margin-bottom: 10px;
    }
  }

  &__title {
    @include breakpoint-down(1279px) {
      padding-right: 5px;
    }
  }

  &__list {
    @include list-style-none;
    padding: 33px 0 26px 52px;
    font-family: $font-family-IBM;
    margin-right: 94px;
    @include breakpoint-down(1820px) {
      padding: 20px 0 23px 41px;
    }
    @include breakpoint-down(1439px) {
      font-size: 12px;
      line-height: 180%;
      padding: 12px 0 24px 37px;
    }
    @include breakpoint-down(1279px) {
      padding: 9px 0 15px 20px;
      margin-right: 0;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      font-size: 12px;
      line-height: 180%;
      padding: 12px 0 24px 37px;
    }
    @include breakpoint-down($breakpoint-xxs-max) {
      padding: 14px 0 16px 15px;

    }

    li {
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      &:last-child {
        margin-bottom: 0;
      }
      @include breakpoint-down(1820px) {
        margin-bottom: 11px;
        font-size: 16px;
        line-height: 21px;
      }
      @include breakpoint-down(1439px) {
        margin-bottom: 9px;
        font-size: 14px;
        line-height: 18px;
      }
      @include breakpoint-down(1279px) {

        margin-bottom: 5px;
      }
      @include breakpoint-down($breakpoint-sm-max) {
        margin-bottom: 9px;
      }
      @include breakpoint-down($breakpoint-xxs-max) {
        font-size: 10px;
    line-height: 15px;

      }
    }
  }

  &__btns {
    margin-top: auto;
    padding-left: 52px;
    @include breakpoint-down(1820px) {
      padding-left: 40px;
    }
    @include breakpoint-down(1439px) {
      padding-left: 37px;
    }
    @include breakpoint-down(1279px) {
      padding-left: 20px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding-left: 37px;
    }
    @include breakpoint-down($breakpoint-xxs-max) {
      padding-left: 15px;
    }
  }

  &__button {

    padding: 11px 15px 11px;
    @include breakpoint-down(1820px) {
      padding: 11px 11px 13px;
      font-size: 16px;
      line-height: 21px;
    }
    @include breakpoint-down(1439px) {
      padding: 11px 17px 13px;
      font-size: 14px;
      line-height: 18px;
    }
    @include breakpoint-down(1279px) {
      padding: 8px 8px 10px;
      font-size: 12px;
      line-height: 16px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding: 11px 17px 13px;
      font-size: 14px;
      line-height: 18px;
    }
    &.bordered-link--black {
      padding: 11px 17px 11px;
      margin-right: 10px;
      @include breakpoint-down(1820px) {
        padding: 11px 12px 13px;
        margin-right: 18px;

      }
      @include breakpoint-down(1439px) {
        padding: 11px 20px 13px;
        margin-right: 7px;
      }
      @include breakpoint-down(1279px) {
        padding: 8px 12px 10px;

      }
      @include breakpoint-down($breakpoint-sm-max) {
        padding: 11px 20px 13px;
      }
    }
    @include breakpoint-down($breakpoint-xxs-max) {
      padding: 11px 12px 11px;
    }
  }

  &--no-btns {
    .kit__list {
      padding: 36px 0 26px 45px;
      font-size: 14px;
      line-height: 220%;
      @include breakpoint-down($breakpoint-xxs-max) {
        padding: 14px 0 16px 15px;
      }
    }

    @include breakpoint-down($breakpoint-sm-max) {
      padding: 52px 0 38px;
      .kit__header {
        margin-right: 54px;
        height: 180px;
        padding-bottom: 48px;
      }
      .kit__list {
        padding: 25px 0 26px 41px;
        font-size: 14px;
        line-height: 220%;
        @include breakpoint-down($breakpoint-xxs-max) {
          padding: 14px 0 16px 15px;
          line-height: 140%;
        }
      }
    }
  }
}