.kits {
  margin-top: 40px;
  margin-bottom: 95px;
  display: flex;
  flex-direction: column;
  @include breakpoint-down($breakpoint-lg-max) {
    margin-bottom: 130px;
  }
  &__title {
    margin-bottom: 65px;
    @include breakpoint-down($breakpoint-sm-max) {
      margin-bottom: 41px;
    }

  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 462px);
    grid-gap: 60px 95px;
    @include breakpoint-down($breakpoint-lg-max) {
      grid-template-columns: repeat(3, 375px);
      grid-gap: 58px 54px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
      .kits__grid-item {
        margin-bottom: 40px;
      }
    }

    &--scroll {
      @include breakpoint-down($breakpoint-md-max) {
        flex-direction: row;
        grid-gap: 30px;
        margin: 0 -20px;
        padding-left: 20px;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        .kits__grid-item {
          position: relative;

          &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            right: -20px;
            top: 0;
          }
        }
      }
      @include breakpoint-down($breakpoint-sm-max) {
        grid-gap: 0;
        .kit {
          margin-right: 13px;
        }
      }

      @include breakpoint-down($breakpoint-sm-max) {
        .kit {
          width: 269px;
          height: 414px;
          padding: 28px 0 32px;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(#{$image-path}/kit-mob-scroll.png);
        }
        .kit__header {
          margin-right: 50px;
          padding-left: 15px;
        }
        .kit__list,
        .kit__btns {
          padding-left: 15px;
        }
        .kit__button {
          margin-right: 16px;
          padding: 11px;
        }
      }
    }
  }
}