.navigation {
  margin-bottom: 88px;
  margin-top: 30px;
  overflow: hidden;
  @include breakpoint-down($breakpoint-md-max) {
    margin-bottom: 65px;
  }
  @include breakpoint-down($breakpoint-sm-max) {
    margin-bottom: 44px;
  }
  &__list {
    background-color: $color-light-black;
    color: $color-white;
    padding-bottom: 115px;
    padding-top: 20px;
    @include breakpoint-down($breakpoint-md-max) {
      padding-top: 0;
      padding-bottom: 55px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding-top: 7px;
      padding-bottom: 47px;
    }
  }

  &__list-item {
    padding: 58px 0 54px;
    border-bottom: 1px solid rgba(#FFFFFF,0.1);
    position: relative;
    min-height: 224px;
    transition: border-bottom $transition-duration;
    @include breakpoint-down($breakpoint-md-max) {
      padding: 65px 0 75px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      padding: 40px 0 33px;
      min-height: 140px;
    }

    &:last-child {
      border-bottom: 1px solid rgba(#FFFFFF,0.1);
    }

    &:hover {
      border-bottom: 1px solid rgba(#FFFFFF,1);
      .navigation__img {
        opacity: 1;
        transform: translateY(-50%);
      }
      .navigation__list-next {
        opacity: 1;
      }
    }
  }

  &__list-item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__list-title {
    margin-bottom: 12px;
    @include breakpoint-down($breakpoint-lg-max) {
      margin-bottom: 0;
    }
    @include breakpoint-down($breakpoint-md-max) {
      letter-spacing: -0.02em;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      font-weight: 600;
      font-size: 36px;
      line-height: 46px;
      letter-spacing: -0.01em;    }
  }

  &__list-text {
    font-family: $font-family-IBM;
    @include breakpoint-down($breakpoint-sm-max) {
      font-size: 16px;
      line-height: 21px;
      opacity: 0.9;
      padding-right: 40px;
    }
  }

  &__list-number {
    font-family: $font-family-IBM;
      position: absolute;
    top: 60px;
    right: 25px;
    @include breakpoint-down($breakpoint-lg-max) {
      right: 8px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      top: 67px;
      right: 5px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      top: 42px;
      right: 7px;
    }
  }
  &__list-next {
    position: absolute;
    right: 30px;
    bottom: 60px;
    font-size: 30px;
    line-height: 95%;
    font-family: $font-family-IBM;
    opacity: 0;
    transition: opacity $transition-duration;
    @include breakpoint-down($breakpoint-lg-max) {
      right: 10px;
    }
    @include breakpoint-down($breakpoint-md-max) {
      right: 4px;
    }
    @include breakpoint-down($breakpoint-sm-max) {
      display: none;
    }
  }

  &__img {
    opacity: 0;
    position: absolute;
    pointer-events: none;

    transform: translateY(-45%);

    transition: opacity $transition-duration, transform $transition-duration ease-out;
    @include breakpoint-down($breakpoint-md-max) {
      width: 50%;
    }
    @include breakpoint-down(997px) {
      display: none;
    }

    &--kits {
      top: 68%;
      right: 17px;
      @include breakpoint-down($breakpoint-md-max) {
        width: 400px;
      }
    }
    &--software {
      top: 68%;
      right: -60px;
      @include breakpoint-down($breakpoint-md-max) {
        width: 550px;
      }
    }
    &--services {
      top: 80%;
      right: 12%;
      @include breakpoint-down($breakpoint-md-max) {
        width: 300px;
      }
    }
    &--about {
      top: -11%;
    right: -10%;
    @include breakpoint-down(1300px) {
      width: 750px;
    }
    }
  }
}