.navigation {
  margin-bottom: 88px;
  margin-top: 30px;
  @include breakpoint-down($breakpoint-sm-max) {
    margin-bottom: 44px;
  }
  &__list {
    background-color: $color-light-black;
    color: $color-white;
    padding-bottom: 115px;
    padding-top: 20px;
    @include breakpoint-down($breakpoint-sm-max) {
      padding-top: 2px;
      padding-bottom: 52px;
    }
  }

  &__list-item {
    padding: 60px 0 70px;
    border-bottom: 1px solid rgba(#FFFFFF,0.1);
    position: relative;
    min-height: 224px;
    transition: border-bottom $transition-duration;

    @include breakpoint-down($breakpoint-sm-max) {
      padding: 50px 0 20px;
      min-height: 150px;
    }

    &:last-child {
      border-bottom: 1px solid rgba(#FFFFFF,0.1);
    }

    &:hover {
      border-bottom: 1px solid rgba(#FFFFFF,1);
      .navigation__list-next {
        opacity: 1;
      }
    }
  }

  &__list-item-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__list-title {
    font-weight: bold;
    font-size: 70px;
    line-height: 95%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 12px;
    @include breakpoint-down($breakpoint-sm-max) {
      font-size: 34px;
      margin-bottom: 12px;
    }
  }

  &__list-text {
    font-family: $font-family-IBM;
    @include breakpoint-down($breakpoint-sm-max) {
      font-size: 12px;
      line-height: 130%;
    }
  }

  &__list-number {
    font-family: $font-family-IBM;
    font-size: 20px;
    position: absolute;
    top: 60px;
    right: 10px;
    @include breakpoint-down($breakpoint-sm-max) {
      top: 50px;
    right: 0;
    }
  }
  &__list-next {
    position: absolute;
    right: 10px;
    bottom: 60px;
    font-size: 30px;
    line-height: 95%;
    font-family: $font-family-IBM;
    opacity: 0;
    transition: opacity $transition-duration;
    @include breakpoint-down($breakpoint-sm-max) {
      display: none;
    }
  }
}