// Example
@font-face {
  font-family: 'Lab Grotesque';
  src: url('#{$font-path}/LabGrotesque-Black.woff2') format('woff2'),
       url('#{$font-path}/LabGrotesque-Black.woff') format('woff'),
       url('#{$font-path}/LabGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('#{$font-path}/LabGrotesque-Bold.woff2') format('woff2'),
       url('#{$font-path}/LabGrotesque-Bold.woff') format('woff'),
       url('#{$font-path}/LabGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('#{$font-path}/LabGrotesque-Medium.woff2') format('woff2'),
       url('#{$font-path}/LabGrotesque-Medium.woff') format('woff'),
       url('#{$font-path}/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('#{$font-path}/LabGrotesque-Regular.woff2') format('woff2'),
       url('#{$font-path}/LabGrotesque-Regular.woff') format('woff'),
       url('#{$font-path}/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}