include ./../mixins/mixins.pug

include ./globalVars.pug
block variables

doctype html

html(lang=CURRENT_LANG)
  include ./head.pug

  body
    block bodyStart

    //- SVG store
    .svg-store
      include ./../../svgicons/svgicons.svg
    //- end SVG store

    block body

    block bodyEnd

    //- Scripts
    block bodyVendorScripts
    script( src='https://cdn.plot.ly/plotly-2.0.0-rc.2.min.js' )
    script(src=config.JS_BUNDLE)


    block bodyCustomScripts
    //- end Scripts
