//- Default variables
- var SITE_NAME = 'milaboratories.com'
- var CURRENT_LANG = 'en'
- var PAGE_TITLE = 'milaboratories.com'
- var PAGE_DESCRIPTION = ''
- var PAGE_KEYWORDS = ''
- var PAGE_IMAGE = 'none'
- var NOT_FOUND = false

//- Custom variables
block globalVars
