footer.footer
  .footer__container.container
    .footer__left
      .footer__logos
        include ./../../inline-svgs/logo.svg
        include ./../../inline-svgs/sk.svg
    .footer__right
      .footer__lists
        .footer__list
          .footer__list-title Products
          .footer__list-item
            a(href="#") MixCR.Pro
          .footer__list-item
            a(href="#") Kits
          .footer__list-item
            a(href="#") Service
          .footer__list-item
            a(href="#") Custom R&amp;D
        .footer__list
          .footer__list-title About
          .footer__list-item
            a(href="#") Publications
          .footer__list-item
            a(href="#") Team
        .footer__list
          .footer__list-title For clients
          .footer__list-item
            a(href="#") Contacts
    .footer__copyright
      p © 2016-2020 All rights reserved
      a(href="#") Privacy policy