footer.footer( class=(isService ? "sticky" : null) )
  .footer__container.container
    .footer__left
      .footer__logos
        a(href="./home.html").footer__logo
          include ./../../inline-svgs/logo.svg
        a(href="#").footer__logo-sk
          include ./../../inline-svgs/sk.svg
    .footer__right
      .footer__lists
        .footer__list
          .footer__list-title.notes-title Products
          .footer__list-item.notes.link
            a(href="#") MixCR.Pro
          .footer__list-item.notes.link
            a(href="#") Kits
          .footer__list-item.notes.link
            a(href="#") Service
          .footer__list-item.notes.link
            a(href="#") Custom R&amp;D
        .footer__list
          .footer__list-title.notes-title About
          .footer__list-item.notes.link
            a(href="#") Publications
          .footer__list-item.notes.link
            a(href="#") Team
        .footer__list
          .footer__list-title.notes-title For clients
          .footer__list-item.notes.link
            a(href="#") Contacts
    .footer__copyright
      p.notes © 2016-2020 All rights reserved
      a.notes(href="#") Privacy policy