header.header(id="top")
  .header__container.container
    a(href="./home.html").header__logo
      span( class=(isPink ? "pink" : isBlue2 ? "blue2" : isBlue4 ? "blue4" : isOrange ? "orange" : isGreen2 ? "green2" : "green"))
      include ./../../inline-svgs/logo.svg
    .header__burger
      button( type="button" )
        include ./../../inline-svgs/burger.svg
    .header__close.visually-hidden
        button( type="button" )
          include ./../../inline-svgs/cross.svg
    .header__menu
      .header__links
        .header__link.notes.link( class=(isSoftware ? "inactive" : null) )
            a(href="./software-temp.html") Software
        .header__link.notes.link( class=(isKits ? "inactive" : null) )
            a(href="./kits.html") Kits
        .header__link.notes.link( class=(isServices ? "inactive" : null) )
            a(href="./services.html") Services
        .header__link.notes.link( class=(isCustom ? "inactive" : null) )
          a(href="./customR&D.html") Custom R&amp;D
        .header__link.notes.link( class=(isAbout ? "inactive" : null) )
            a(href="./about.html") About
        .header__link.notes.link( class=(isPublications ? "inactive" : null) )
          a(href="./publications.html") Publications
      .header__contact-link.bordered-link
        a(href="./contact.html") Contact
      .header__mobile-bottom
        p © 2016-2021 All rights reserved
        include ./../../inline-svgs/sk.svg
