header.header(id="top")
  .header__container.container
    a(href="./home.html").header__logo
      include ./../../inline-svgs/logo.svg
    .header__burger
      button( type="button" )
        include ./../../inline-svgs/burger.svg
    .header__close.visually-hidden
        button( type="button" )
          include ./../../inline-svgs/cross.svg
    .header__menu
      .header__links
        .header__link.notes.link
            span Software
        .header__link.notes.link
            a(href="./kits.html") Kits
        .header__link.notes.link
            a(href="./services.html") Services
        .header__link.notes.link
          a(href="./customR&D.html") Custom R&amp;D
        .header__link.notes.link
            a(href="./about.html") About
        .header__link.notes.link
          a(href="./publications.html") Publications
      .header__contact-link.bordered-link
        a(href="./contact.html") Contact
      .header__mobile-bottom
        p © 2016-2020 All rights reserved
        include ./../../inline-svgs/sk.svg