header.header(id="top")
  .header__container.container
    .header__retailer-block
      .header__contacts-us
        .header__location
          button(type="button")
            //- include ./../../inline-svgs/pin.svg
            | Санкт-Петербург
