extends ./layout/layout.pug

block globalVars
  - PAGE_TITLE = 'MiLaboratories — 404'
  - NOT_FOUND = true

block variables
  - let isPink = true;

block headEnd

block bodyStart

block content
  div(class="not-found-container")
    div
      | 404
    div
      | Page not found


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
