extends ./layout/layout.pug

block globalVars
  - PAGE_TITLE = 'MiLaboratories — About'

block variables
  - let isAbout = true;
  - let isPink = true;
  - let isOverflowHidden = true;

block headEnd

block bodyStart

block content
  .team.container
    img.about__big-img.big-img-block(src="assets/dna@1x.png", srcset="assets/dna@2x.png 2x" alt="")
    .title.big-img
      .title__left.h1.title--bordered
        | ABOUT
      .title__right.text
        | Our team has experience in the field of adaptive immunity starting from 2009. Since that time we published dozens of research papers in top journals and developed a software which became the most popular among the academic community and leading biotech and pharma companies. We enjoy working together and delivering reliable and efficient tools to the community of clinicians, investigators and scientists.
      .subtitle.notes.subtitle--no-text
        a(href="./") ↲ INDEX
    .team__list
      .team__list-item
        .team__img
          img(src="assets/poslavsky.png", alt="")
        span.h3.team__name Stanislav Poslavsky, PhD
        span.text CEO, co-founder
      .team__list-item
        .team__img
          img(src="assets/bolotin.png", alt="")
        span.h3.team__name Dmitriy Bolotin
        span.text CTO, co-founder
      .team__list-item
        .team__img
          img(src="assets/chudakov.png", alt="")
        span.h3.team__name Dmitriy Chudakov, PhD
        span.text CSO, co-founder

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
