extends ./layout/layout.pug

block globalVars
  - PAGE_TITLE = 'MiLaboratories — Contacts'

block variables
  - let isBlue4 = true;

block headEnd

block bodyStart

block content
  .contacts
    .container
      .subtitle.notes
        a(href="./") ↲ INDEX
      .title.title--no-text
        .title__left.h1
          | contacts
      .contacts__list
        .contacts__list-item
          .contacts__img.contacts__img--usa
            .contacts__img-cover
              img(src="assets/usa.png", alt="")
          .contacts__list-text
            .h3.contacts__title USA
            .text 1220 Tasman Dr.<br>
              | Sunnyvale CA, 94089<br>
              a(href="tel:+14082198157") + 1 408-219-8157<br>
              a(href="mailto:nbach@milaboratory.com") nbach@milaboratory.com
        .contacts__list-item
          .contacts__img.contacts__img--russia
            .contacts__img-cover
              img(src="assets/rus.png", alt="")
          .contacts__list-text
            .h3.contacts__title Russia
            .text 42 Bolshoy boulevard, bld. 1,<br>
              | Moscow, 143026<br>
              | Skolkovo Innovation center<br>
        .contacts__list-item
          .contacts__img.contacts__img--japan
            .contacts__img-cover
              img(src="assets/japan.png", alt="")
          .contacts__list-text
            .h3.contacts__title Distributor in Japan
            .text INFOCOM CORPORATION<br>
              | 2-34-17 Jingumae, Shibuya-ku, Tokyo 150-0001<br>
              a(href="tel:+81368663860") +81-3-6866-3860<br>
              a(href="mailto:info-science@infocom.co.jp") info-science@infocom.co.jp
    .contacts__form-cover
      .container
        .contacts__list.contacts__emails
          .contacts__list-item
            .notes-title Technical questions on software
            a.notes(href="mailto:support@milaboratory.com") support@milaboratory.com
          .contacts__list-item
            .notes-title Licensing And collaboration
            a.notes(href="mailto:licensing@milaboratory.com") licensing@milaboratory.com
          .contacts__list-item
            .notes-title Service
            a.notes(href="mailto:service@milaboratory.com") service@milaboratory.com
          a(id="mail")
        .contacts__form(id="contacts-form")
          .h2 contact us
          form(action="post")
            p
              input(type="email", name="", placeholder="Your e-mail")
            p
              textarea(name="message", cols="30", rows="5", placeholder="Message")
            button.contacts__form-btn.bordered-link(type="submit") send

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
