extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart



block content
  .contacts
    .container
      .subtitle.notes
        a(href="./home.html") ↲ INDEX
      .title.title--no-text
        .title__left.h1
          | contacts
      .contacts__list
        .contacts__list-item
          .contacts__img.contacts__img--usa
            +svgicon('usa')
          .contacts__list-text
            .h3.contacts__title USA
            .text 534 S.Andres Dr.<br>
              | Solana Beach, CA 92075<br>
              a(href="tel:+18588296239") + 1 858 8296239<br>
              a(href="mailto:ynikolsky@milaboratory.com") ynikolsky@milaboratory.com
        .contacts__list-item
          .contacts__img.contacts__img--russia
            +svgicon('russia')
          .contacts__list-text
            .h3.contacts__title Russia
            .text 42 Bolshoy boulevard, bld. 1,<br> office 102<br>
              | Skolkovo Innovation center<br>
              | Moscow<br>
              | 143026
        .contacts__list-item
          .contacts__img.contacts__img--japan
            +svgicon('japan')
          .contacts__list-text
            .h3.contacts__title Distributor in Japan
            .text INFOCOM CORPORATION<br>
              | 2-34-17 Jingumae, Shibuya-ku, Tokyo 150-0001<br>
              a(href="tel:+81368663860") +81-3-6866-3860<br>
              a(href="mailto:info-science@infocom.co.jp") info-science@infocom.co.jp
    .contacts__form-cover
      .container
        .contacts__list.contacts__emails
          .contacts__list-item
            .notes-title Technical questions on software
            a.notes(href="mailto:support@milaboratory.com") support@milaboratory.com
          .contacts__list-item
            .notes-title Licensing And collaboration
            a.notes(href="mailto:licensing@milaboratory.com") licensing@milaboratory.com
          .contacts__list-item
            .notes-title Service
            a.notes(href="mailto:service@milaboratory.com") service@milaboratory.com
        .contacts__form
          .h2 contact us
          form(action="post")
            p
              input(type="email", name="", placeholder="Your e-mail")
            p
              textarea(name="", cols="30", rows="5",placeholder="Message")
            button.contacts__form-btn.bordered-link(type="submit") send

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts