extends ./layout/layout.pug

block globalVars

block variables
  - let isCustom = true;
  - let isOrange = true;

block headEnd

block bodyStart

block content
  .custom.container
    .subtitle.notes
      a(href="./home.html") ↲ INDEX
    .title.title--no-text
      .title__left.h1
        | CUSTOM R&amp;D
    .custom__list
      .custom__list-block
        .custom__list-item
          p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment.
          p.text Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses.
        .custom__list-item
          p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment.
          p.text Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses.
      .custom__list-block
        .custom__list-item
          p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment.
          p.text Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses.
        .custom__list-item
          p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment.
          p.text Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses.
block bodyEnd

block bodyVendorScripts

block bodyCustomScripts