extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart

block content
  .container
    .subtitle
      a(href="") About

    br
    br
    br
    .subtitle
        a(href="")  ↲ INDEX
    .title

      .title__left
        | TITLE LONG L
      .title__right
        | DIY with our kits: from tube to plots, just add manpower and sequencer machine. Based on our deep experience in DNA techniques and immune repertoires.
    br
    br
    br
    .title
      a(href="") ↲ INDEX
      .title__full
        | TITLE WITHOUT TXT
    br
    br
    br
    .title.title--small
      .title__small
        | TITLE WITHOUT TXT
    br
    br
    br
    .kit
      .kit__header.kit__header--pink
        .kit__subtitle.notes 24 Reactions
        .kit__title.h2 Human TCR
      ul.kit__list
        li.notes UMI 5’Race
        li.notes IG heavy &amp; light
        li.notes Blood/cells/tissue/FF
        li.notes 250+250 sequencing
        li.notes Full length + isotypes
        li.notes High accuracy
      .kit__btns
        button.kit__button.notes.bordered-link.bordered-link--black(type="button") Buy, $2000
        a.kit__button.notes.bordered-link(href="") Learn more ↳

    br
    br
    br


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts