extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart

//- You can use it for custom pages
//- block body

block content
  .container
    .subtitle
      span About

    br
    br
    br

    .title
      span ↲ INDEX
      .title__left
        | TITLE LONG L
      .title__right
        | DIY with our kits: from tube to plots, just add manpower and sequencer machine. Based on our deep experience in DNA techniques and immune repertoires.
    br
    br
    br
    .title
      span ↲ INDEX
      .title__full
        | TITLE WITHOUT TXT
    br
    br
    br
    .title.title--small
      .title__small
        | TITLE WITHOUT TXT
    br
    br
    br




block bodyEnd

block bodyVendorScripts

block bodyCustomScripts