extends ./layout/layout.pug

block globalVars
  - PAGE_TITLE = 'MiLaboratories — Home'

block headEnd

block bodyStart

block content
  .hero.container
    h1.h1.hero__title Organising<br> adaptive<br> immunity
    .hero__animation
      //- #myDiv
      img.hero__img(src="assets/anim.svg", alt="")
  .about.container
    .subtitle.notes
      span About
    .grid50
      .about__text.grid50__part.grid50__part-first
        p.h3.mb-sm.mt-md We develop top-notch solutions for immune repertoire analysis starting from the sample preparation and ending with the leading software for extracting clinically relevant features from the data.
        p.text At MiLaboratories we focus on delivering the best solutions to investigators and clinicians to probe adaptive immunity in health and disease. Our MiXCR software is used in vaccine, cancer, antibodies and autoimmune diseases drug development pipelines. Backed up by our extensive experience in the field, we offer a full range of services  starting from experiment planning, preparation of samples, sequencing to data processing and extracting clinically relevant features and diagnostic patterns.
        a.about__link.bordered-link(href="./about") FinD out more ↳
  .navigation
    .container
      .subtitle.mb-md.notes
        span NAVIGATION
    .navigation__list
      .container
        .navigation__list-item
          .navigation__list-title.h1 Kits
          .navigation__list-text.notes Human RNA and DNA,Macaca RNA
          .navigation__list-number.text 01
          a.navigation__list-item-link(href="./kits")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title.h1 Software
          .navigation__list-text.notes Analysis of high-throughput sequencing data
          .navigation__list-number.text 02
          a.navigation__list-item-link(href="./software")
            span.navigation__list-next ↳
        //.navigation__list-item
          .navigation__list-title.h1 Custom R&amp;D
          .navigation__list-text.notes Immune repertoire pipeline for your investigation
          .navigation__list-number.text 03
          a.navigation__list-item-link(href="./customR&D")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title.h1 Services
          .navigation__list-text.notes Order TCR and BCR profiling service
          .navigation__list-number.text 03
          a.navigation__list-item-link(href="./services")
            span.navigation__list-next ↳
  .about.news.container
    .subtitle.mb-md.notes
      span What’s new
    .grid50.about__bordered.about__two-sided(style="margin-bottom:48px;")
      .about__text.grid50__part.grid50__part-first.grid50__part-bordered.about__text--two-sided
        p.h3.mb-sm ENPICOM and MiLaboratories<br> join forces
        p.about__text--narrow.text.mb-smd <a href="https://enpicom.com/" class="about__text-link">ENPICOM B.V↗</a>, an innovative bioinformatics software engineering company, and MiLaboratories LLC, a technology leader in profiling the adaptive immune system, announced a <a href="https://enpicom.com/news/enpicom-and-milaboratories-join-forces-to-power-better-repertoire-sequencing-data-management-and-analysis-workflows/" class="about__text-link">strategic partnership↗</a> to enable efficient MiXCR integration into ENPICOM’s cloud-based <a href="https://enpicom.com/igx-platform/" class="about__text-link">IGX Platform↗</a>. The partnership will allow MiXCR users to leverage its intuitive user interface and unique data management capabilities to store, analyze, visualize, and interpret immune repertoire sequencing data.
        span.text.about__date 15 December, 2020
      .about__text.grid50__part.grid50__part-last.about__text--two-sided
        p.h3.mb-sm MiLaboratories LLC launches TCR profiling for non-human primates
        p.about__text--narrow.text.mb-smd Service available for rhesus macaque (Macaca mulatta) and cynomolgus (crab-eating macaque, Macaca fascicularis). Phylogenetic closeness to humans makes non-human primates a model of choice for assessing the safety and efficiency of novel monoclonal antibodies and immunotherapeutic approaches. UMI-based TCR profiling allows to track the clonotype fates and alterations in TCR repertoire with the highest precision. Such analysis has become a tool of choice for in-depth monitoring of changes in the immune system in response to a certain therapy. High accuracy of our analysis helps practitioners to comply with modern ethical standards by reducing the required number of animals.
        span.text.about__date 7 November, 2020
    .about__hidden
      .grid50.about__bordered.about__two-sided(style="margin-bottom:48px;")
        .about__text.grid50__part.grid50__part-first.grid50__part-bordered.about__text--two-sided
          p.h3.mb-sm MiXCR Immune Repertoire Analyzer version 2.1.11 is available at Illumina BaseSpace™
          p.about__text--narrow.text.mb-smd MiXCR, is now <a href="https://www.prnewswire.com/news-releases/milaboratories-mixcr-immune-repertoire-analyzer-version-2-1-11-is-now-available-at-illumina-basespace-300950843.html" class="about__text-link">officially available↗</a>  as an <a href="https://www.illumina.com/products/by-type/informatics-products/basespace-sequence-hub/apps/milaboratory-mixcr-immune-repertoire-analyzer.html" class="about__text-link">Illumina BaseSpace application↗</a> . “We are excited to work with MiLaboratory to offer their MiXCR pipeline on BaseSpace™ Sequence Hub”, said Kevin Meldrum, VP Product Development at Illumina. “We believe that this tool greatly complements our suite of bioinformatics pipelines and will help streamline analysis options for AmpliSeq™ for Illumina customers.”
          span.text.about__date 4 November, 2019
        .about__text.grid50__part.grid50__part-last.about__text--two-sided
          p.h3.mb-sm MiLaboratories LLC signed collaborative agreement with MIODx
          p.about__text--narrow.text.mb-smd MiLaboratories LLC and <a href="https://www.miodx.com/" class="about__text-link">MIODx↗</a> , a well-known immunosequencing specialist, announced a collaboration agreement to expand the provision of services and product development. The companies will offer contract research projects in all applications related to sequencing-based probing of human and animal adaptive immune systems. Offered in the US and Europe, wet lab and dry lab services will range from sample preparations and library constructions to advanced analytics and reporting. More details  <a href="https://www.genomeweb.com/sequencing/milaboratories-miodx-collaborate-immune-cell-receptor-repertoire-profiling" class="about__text-link">here</a>.
          span.text.about__date 25 June, 2019
      .grid50.about__bordered.about__two-sided(style="margin-bottom:48px;")
        .about__text.grid50__part.grid50__part-first.grid50__part-bordered.about__text--two-sided
          p.h3.mb-sm MiLaboratory opens a US-based office
          p.about__text--narrow.text.mb-smd MiLaboratories LLC, registered in the United States, will become a MiLaboratory platform for more efficient penetration of the US and European markets. MiLaboratories LLC will offer a full range of bioinformatics services developed by MiLaboratory. This expansion will allow the company to reach and better serve existing and prospective customers.
          span.text.about__date 21 June, 2019
        .about__text.grid50__part.grid50__part-last.about__text--two-sided
          p.h3.mb-sm MiLaboratory publishes MiXCR RNA-Seq mode
          p.about__text--narrow.text.mb-smd MiXCR now allows you to efficiently extract immune repertoires from <a href="https://www.nature.com/nbt/journal/v35/n10/full/nbt.3979.html" class="about__text-link">bulk RNA-Seq data↗</a> , yielding near-complete TCR repertoires from sorted T cells and abundant information on intratumoral immunoglobulin repertoires.
          span.text.about__date 11 October, 2017
      .grid50.about__bordered.about__two-sided(style="margin-bottom:48px;")
        .about__text.grid50__part.grid50__part-first.grid50__part-bordered.about__text--two-sided
          p.h3.mb-sm MiLaboratory is awarded a Skolkovo Foundation grant
          p.about__text--narrow.text.mb-smd MiLaboratory has been awarded a grant of 5 million rubles from the Skolkovo Foundation to develop its immunosequensing software project.
          span.text.about__date 21 June, 2016
        .about__text.grid50__part.grid50__part-last.about__text--two-sided
          p.h3.mb-sm MiLaboratory became a Skolkovo participant
          p.about__text--narrow.text.mb-smd MiLaboratory’s application was approved by the expert panel and the company became a member of <a href="https://sk.ru/foundation/biomed/" class="about__text-link">Skolkovo Foundation BioMed Cluster↗</a>  community.
          span.text.about__date 24 November, 2015
      .grid50.about__bordered.about__two-sided(style="margin-bottom:48px;")
        .about__text.grid50__part.grid50__part-first.grid50__part-bordered.about__text--two-sided
          p.h3.mb-sm MiLaboratory team wins the 1st place in the OMICS 2015 Big Data in Biomedicine startup contest
          p.about__text--narrow.text.mb-smd MiLaboratory team with an immunosequensing software project was awarded the first place and a 5 million rubles prize package at the <a href="http://sk.ru/foundation/events/march2015/omics2015/" class="about__text-link">OMICS 2015 Big Data in Biomedicine startup contest↗</a>  backed by IT and BioMed Clusters of Skolkovo Foundation and EMC Corporation. The most promising innovative projects in the area of processing and analysis of Big Data in biomedicine were selected from 32 applicants.
          span.text.about__date 20 July, 2015

    button.about__link.about__link--centered.bordered-link.about__show-news(href="")
      span( class="more" ) Show more news ↓
      span(class="less") Show LESS news ↑


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
