extends ./layout/layout.pug

block globalVars
  - PAGE_TITLE = 'MiLaboratories — Human DNA TCR Kit'

block variables
  - let isPink = true;

block headEnd

block bodyStart

block content
  .full-info.container
    .subtitle.notes
      a(href="./kits") ↲ Kits
    .full-info__grid
      .full-info__kit
        .kit.kit--no-btns
          .kit__header.kit__header--purple.kit__header--no-btns
            .kit__subtitle 24 reactions
            .kit__title.h2-kit Human DNA TCR
          ul.kit__list
            li DNA multiplex
            li TCR alpha &amp; beta
            li Blood / Cells / FF Tissue / FFPE
            li 150 + 150 nt Sequencing
            li High sensitivity
            li MiSeq/NextSeq/HiSeq/NovaSeq

      .full-info__info
        h1.full-info__title.title-md.h1  Human DNA TCR Kit
        p.full-info__text.text
          | Allows to obtain high quality TCR alpha and beta repertoires for different types of available DNA material, with the highest possible sensitivity.
        .full-info__links
          button.bordered-link.bordered-link--black.inactive(type="button") coming soon
          div
            a(href="/software").bordered-link
              +svgicon('sidebar')
              span.no-uppercase MiXCR PRO
            a(href="").bordered-link.hidden
              +svgicon('file-btn')
              span Kit manual
        .full-info__table
          .full-info__table-item
            .full-info__table-title.notes-title Species
            .full-info__table-data.notes
              span Human
          .full-info__table-item
            .full-info__table-title.notes-title Chains
            .full-info__table-data.notes
              span TCR alpha and beta
          .full-info__table-item
            .full-info__table-title.notes-title Material
            .full-info__table-data.notes
              span DNA
          .full-info__table-item
            .full-info__table-title.notes-title Sequencing
            .full-info__table-data.notes
              span 150 + 150  (recommended)
          .full-info__table-item
            .full-info__table-title.notes-title Software
            .full-info__table-data.notes
              span <span class="no-uppercase">MiXCR PRO</span> (included)

  .kits.kits--also.container
    .subtitle.notes
      span CHECK ALSO
    .kits__grid.kits__grid--scroll
      .kits__grid-item
        include kit-cards/human-multiplex-tcr-kit
      .kits__grid-item
        include kit-cards/monkey-5-race-tcr-kit
      .kits__grid-item
        include kit-cards/human-multiplex-bcr-kit
      .kits__grid-item
        include kit-cards/human-tcr-kit-card

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
