//- .full-info__table-item
//-             .full-info__table-title Title
//-             .full-info__table-data
//-               span Human
//-           .full-info__table-item
//-             .full-info__table-title Antibodies
//-             .full-info__table-data
//-               span IGH
//-               span IGK
//-               span IGL
//-           .full-info__table-item
//-             .full-info__table-title Isotypes
//-             .full-info__table-data
//-               span IgM
//-               span IgD
//-               span IgG1