extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart

block content
  .kits.container
    .subtitle.notes
      a(href="./home.html") ↲ INDEX
    .kits__title.title
      .title__left.h1
        | KITS
      .title__right.text
        | DIY with our kits: from tube to plots.
    .kits__grid
      .kits__grid-item
        .kit
          .kit__header.kit__header--pink
            .kit__subtitle 192 reactions
            .kit__title.h2-kit Human TCR
          ul.kit__list
            li UMI 5’Race
            li TCR alpha &amp; beta
            li Blood / Cells / Tissue
            li 250+250 sequencing
            li MiSeq / NextSeq
            li High accuracy
          .kit__btns
            button.kit__button.notes.bordered-link.bordered-link--black(type="button") Buy, $2000
            a.kit__button.notes.bordered-link(href="./humanTCRkit.html") Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--orange
            .kit__subtitle 24 reactions
            .kit__title.h2-kit Human multiplex TCR
          ul.kit__list
            li Multiplex PCR
            li TCR alpha &amp; beta
            li Blood / Cells / Tissue / FF / FFPE
            li 150 + 150 Sequencing
            li MiSeq / NextSeq / HiSeq / NovaSeq
            li High accuracy
          .kit__btns
            button.kit__button.notes.bordered-link.bordered-link--black.inactive(type="button") coming soon
            a.kit__button.notes.bordered-link(href="./humanmultiTCRkit.html") Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--blue
            .kit__subtitle 192 reactions
            .kit__title.h2-kit Human multiplex BCR
          ul.kit__list
            li UMI multiplex
            li IG heavy
            li Blood / Cells / Tissue / FF
            li 250 + 250 Sequencing
            li Full length + isotypes
            li High accuracy
          .kit__btns
            button.kit__button.notes.bordered-link.bordered-link--black.inactive(type="button") coming soon
            a.kit__button.notes.bordered-link(href="./humanmultiBCRkit.html") Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--green
            .kit__subtitle 24 reactions
            .kit__title.h2-kit Monkey 5’RACE TCR
          ul.kit__list
            li UMI 5’RACE
            li TCR alpha &amp; beta
            li Blood / Cells / Tissue / FF
            li 150 + 150 nt Sequencing
            li MiSeq/NextSeq/HiSeq/NovaSeq
            li High accuracy
          .kit__btns
            button.kit__button.notes.bordered-link.bordered-link--black(type="button") Buy, $2000
            a.kit__button.notes.bordered-link(href="./monkeyTCRkit.html") Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--purple
            .kit__subtitle 24 reactions
            .kit__title.h2-kit Human DNA TCR
          ul.kit__list
            li DNA multiplex
            li TCR alpha &amp; beta
            li Blood / Cells / Tissue / FF / FFPE
            li 150 + 150 nt Sequencing
            li High accuracy
            li MiSeq/NextSeq/HiSeq/NovaSeq

          .kit__btns
            button.kit__button.notes.bordered-link.bordered-link--black.inactive(type="button") coming soon
            a.kit__button.notes.bordered-link(href="./humandnakit.html") Learn more ↳


  .navigation
    .container
      .subtitle.mb-md.notes
        span NAVIGATION
    .navigation__list
      .container
        .navigation__list-item
          .navigation__list-title.h1 Software
          .navigation__list-text.notes Analysis of high-throughput sequencing data
          .navigation__list-number.text 02
          a.navigation__list-item-link(href="./software.html")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title.h1 Custom R&amp;D
          .navigation__list-text.notes Immune repertoire pipeline for your investigation
          .navigation__list-number.text 03
          a.navigation__list-item-link(href="./customR&D.html")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title.h1 Services
          .navigation__list-text.notes Order TCR and BCR profiling service
          .navigation__list-number.text 04
          a.navigation__list-item-link(href="./services.html")
            span.navigation__list-next ↳


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
