extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart

block content
  .kits.container
    .subtitle
      a(href="./home.html") ↲ INDEX
    .kits__title.title
      .title__left
        | KITS
      .title__right
        | DIY with our kits: from tube to plots, just add manpower and sequencer machine. Based on our deep experience in DNA techniques and immune repertoires.
    .kits__grid
      .kits__grid-item
        .kit
          .kit__header.kit__header--pink
            .kit__subtitle 24 Reactions
            .kit__title Human TCR
          ul.kit__list
            li UMI 5’Race
            li IG heavy &amp; light
            li Blood/cells/tissue/FF
            li 250+250 sequencing
            li Full length + isotypes
            li High accuracy
          .kit__btns
            button.kit__button(type="button").bordered-link.bordered-link--black Buy, $2000
            a.kit__button(href="./humanTCR.html").bordered-link Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--orange
            .kit__subtitle 24 Reactions
            .kit__title Monkey TCR
          ul.kit__list
            li UMI 5’Race
            li IG heavy &amp; light
            li Blood/cells/tissue/FF
            li 250+250 sequencing
            li Full length + isotypes
            li High accuracy
          .kit__btns
            button.kit__button(type="button").bordered-link.bordered-link--black Buy, $2000
            a.kit__button(href="./monkeyTCR.html").bordered-link Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--blue
            .kit__subtitle 24 Reactions
            .kit__title Human 7 genes
          ul.kit__list
            li UMI 5’Race
            li IG heavy &amp; light
            li Blood/cells/tissue/FF
            li 250+250 sequencing
            li Full length + isotypes
            li High accuracy
          .kit__btns
            button.kit__button(type="button").bordered-link.bordered-link--black Buy, $2000
            a.kit__button(href="./human7genes.html").bordered-link Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--green
            .kit__subtitle 24 Reactions
            .kit__title Human TCR
          ul.kit__list
            li UMI 5’Race
            li IG heavy &amp; light
            li Blood/cells/tissue/FF
            li 250+250 sequencing
            li Full length + isotypes
            li High accuracy
          .kit__btns
            button.kit__button(type="button").bordered-link.bordered-link--black Buy, $2000
            a.kit__button(href="./humanTCR.html").bordered-link Learn more ↳
      .kits__grid-item
        .kit
          .kit__header.kit__header--purple
            .kit__subtitle 24 Reactions
            .kit__title Monkey TCR
          ul.kit__list
            li UMI 5’Race
            li IG heavy &amp; light
            li Blood/cells/tissue/FF
            li 250+250 sequencing
            li Full length + isotypes
            li High accuracy
          .kit__btns
            button.kit__button(type="button").bordered-link.bordered-link--black Buy, $2000
            a.kit__button(href="./monkeyTCR.html").bordered-link Learn more ↳
  .navigation
    .container
      .subtitle.mb-md
        span ChECK ALSO
    .navigation__list
      .container

        .navigation__list-item
          .navigation__list-title Software
          .navigation__list-text.text-xs Analysis of high-throughput sequencing data
          .navigation__list-number.text-xs 01
          a.navigation__list-item-link(href="./software.html")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title Custom R&amp;D
          .navigation__list-text.text-xs Immune repertoire pipeline for your investigation
          .navigation__list-number.text-xs 02
          a.navigation__list-item-link(href="./customR&D.html")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title Services
          .navigation__list-text.text-xs Order TCR and BCR profiling service
          .navigation__list-number.text-xs 03
          a.navigation__list-item-link(href="./services.html")
            span.navigation__list-next ↳


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
