extends ./layout/layout.pug

block globalVars
  - PAGE_TITLE = 'MiLaboratories — Monkey 5’RACE TCR Kit'

block variables
  - let isGreen = true;

block headEnd

block bodyStart

block content
  .full-info.container
    .subtitle.notes
      a(href="./kits") ↲ Kits
    .full-info__grid
      .full-info__kit
        .kit.kit--no-btns
          .kit__header.kit__header--green.kit__header--no-btns
            .kit__subtitle 24 reactions
            .kit__title.h2-kit Monkey 5’RACE TCR
          ul.kit__list
            li UMI 5’RACE
            li TCR alpha &amp; beta
            li Blood / Cells / FF Tissue
            li 150 + 150 nt Sequencing
            li MiSeq/NextSeq/HiSeq/NovaSeq
            li High accuracy

      .full-info__info
        h1.full-info__title.title-md.h1  Monkey 5’RACE TCR Kit
        p.full-info__text.text
          | MiLaboratories  Monkey 5’RACE TCR Kit is designed for unbiased amplification of TCR alpha and beta cDNA libraries using unique molecular identifiers (UMI) incorporated within template switch oligo.

        .full-info__links
          button.bordered-link.bordered-link--black.inquire-button(type="button", data-subject="Monkey 5’RACE TCR Kit") Inquire
          div
            a(href="/software").bordered-link
              +svgicon('sidebar')
              span.no-uppercase MiXCR PRO
            a(href="https://link.milaboratory.com/docs/pdfs/manual_monkey_tcr_kit_tm_001.pdf").bordered-link
              +svgicon('file-btn')
              span Kit manual
        .full-info__table
          .full-info__table-item
            .full-info__table-title.notes-title Species
            .full-info__table-data.notes
              span Macaca Mulatta &amp; Macaca Fascicularis
          .full-info__table-item
            .full-info__table-title.notes-title Chains
            .full-info__table-data.notes
              span TCR alpha and beta
          .full-info__table-item
            .full-info__table-title.notes-title Material
            .full-info__table-data.notes
              span RNA
          .full-info__table-item
            .full-info__table-title.notes-title Sequencing
            .full-info__table-data.notes
              span 150 + 150  (full length)
          .full-info__table-item
            .full-info__table-title.notes-title Software
            .full-info__table-data.notes
              span <span class="no-uppercase">MiXCR PRO</span> (included)
  .kits.kits--also.container
    .subtitle.notes
      span CHECK ALSO
    .kits__grid.kits__grid--scroll
      .kits__grid-item
        include kit-cards/human-multiplex-tcr-kit
      .kits__grid-item
        include kit-cards/human-multiplex-bcr-kit
      .kits__grid-item
        include kit-cards/human-tcr-kit-card
      .kits__grid-item
        include kit-cards/human-dna-tcr-kit

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
