extends ./layout/layout.pug

block globalVars
  - var PAGE_TITLE = 'Page list'
  - var PAGE_DESCRIPTION = 'All pages'

block body
  -
    var pages = [
      {url: '/', title: 'Home page'},
      {url: 'kits', title: 'Kits page'},
      {url: 'monkeyTCR', title: 'monkey TCR page'},
      {url: 'humanTCR', title: 'human TCR page'},
      {url: 'human7genes', title: 'human 7 genes page'},
    ]

  div(style="padding: 1rem;")
    h1 Page list
    ol
      each page in pages
        li
          a(href=page.url title=page.title)= page.title

