extends ./layout/layout.pug

block globalVars
  - var PAGE_TITLE = 'Page list'
  - var PAGE_DESCRIPTION = 'All pages'

block body
  -
    var pages = [

      {url: 'home.html', title: 'Home page'},
      {url: 'kits.html', title: 'Kits page'},
      {url: 'monkeyTCR.html', title: 'monkey TCR page'},
      {url: 'humanTCR.html', title: 'human TCR page'},
      {url: 'human7genes.html', title: 'human 7 genes page'},
    ]

  div(style="padding: 1rem;")
    h1 Page list
    ol
      each page in pages
        li
          a(href=page.url title=page.title)= page.title

