extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart



block content
  .publications.container
    .subtitle.notes
      a(href="./home.html") ↲ INDEX
    .title.title--no-text
      .title__left.h1
        | Publications
    .publications__list
      .publications__list-item
        .h2 2020
        p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment. Nat Rev Immunol.
        p.text Sharonov GV, Serebrovskaya EO, Yuzhakova DV, Britanova OV, Chudakov DM.
        .notes.publications__link doi: <a href="" class="notes--link">10.1038/s41577-019-0257-x.↗</a>
        .notes 2020 Jan 27
        button.publications__more(t="button")
        .publications__article
          | Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses. In tumour-associated tertiary lymphoid structures, T cells and B cells interact and undergo cooperative selection, specialization and clonal expansion. Importantly, B cells can present cognate tumour-derived antigens to T cells, with the functional consequences of such interactions being shaped by the B cell phenotype. Furthermore, the isotype and specificity of the antibodies produced by plasma cells can drive distinct immune responses. Here we summarize our current knowledge of the roles of B cells and antibodies in the tumour microenvironment. Moreover, we discuss the potential of using immunoglobulin repertoires as a source of tumour-specific receptors for immunotherapy or as biomarkers to predict the efficacy of immunotherapeutic interventions.
      .publications__list-item
        p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment. Nat Rev Immunol.
        p.text Sharonov GV, Serebrovskaya EO, Yuzhakova DV, Britanova OV, Chudakov DM.
        .notes.publications__link doi: <a href="" class="notes--link">10.1038/s41577-019-0257-x.↗</a>
        .notes 2020 Jan 27
        button.publications__more(t="button")
        .publications__article
          | Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses. In tumour-associated tertiary lymphoid structures, T cells and B cells interact and undergo cooperative selection, specialization and clonal expansion. Importantly, B cells can present cognate tumour-derived antigens to T cells, with the functional consequences of such interactions being shaped by the B cell phenotype. Furthermore, the isotype and specificity of the antibodies produced by plasma cells can drive distinct immune responses. Here we summarize our current knowledge of the roles of B cells and antibodies in the tumour microenvironment. Moreover, we discuss the potential of using immunoglobulin repertoires as a source of tumour-specific receptors for immunotherapy or as biomarkers to predict the efficacy of immunotherapeutic interventions.
      .publications__list-item
        .h2 2019
        p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment. Nat Rev Immunol.
        p.text Sharonov GV, Serebrovskaya EO, Yuzhakova DV, Britanova OV, Chudakov DM.
        .notes.publications__link doi: <a href="" class="notes--link">10.1038/s41577-019-0257-x.↗</a>
        .notes 2020 Jan 27
        button.publications__more(t="button")
        .publications__article
          | Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses. In tumour-associated tertiary lymphoid structures, T cells and B cells interact and undergo cooperative selection, specialization and clonal expansion. Importantly, B cells can present cognate tumour-derived antigens to T cells, with the functional consequences of such interactions being shaped by the B cell phenotype. Furthermore, the isotype and specificity of the antibodies produced by plasma cells can drive distinct immune responses. Here we summarize our current knowledge of the roles of B cells and antibodies in the tumour microenvironment. Moreover, we discuss the potential of using immunoglobulin repertoires as a source of tumour-specific receptors for immunotherapy or as biomarkers to predict the efficacy of immunotherapeutic interventions.
    .publications__list-block
      .publications__list-item
        p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment. Nat Rev Immunol.
        p.text Sharonov GV, Serebrovskaya EO, Yuzhakova DV, Britanova OV, Chudakov DM.
        .notes.publications__link doi: <a href="" class="notes--link">10.1038/s41577-019-0257-x.↗</a>
        .notes 2020 Jan 27
        button.publications__more(t="button")
        .publications__article
          | Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses. In tumour-associated tertiary lymphoid structures, T cells and B cells interact and undergo cooperative selection, specialization and clonal expansion. Importantly, B cells can present cognate tumour-derived antigens to T cells, with the functional consequences of such interactions being shaped by the B cell phenotype. Furthermore, the isotype and specificity of the antibodies produced by plasma cells can drive distinct immune responses. Here we summarize our current knowledge of the roles of B cells and antibodies in the tumour microenvironment. Moreover, we discuss the potential of using immunoglobulin repertoires as a source of tumour-specific receptors for immunotherapy or as biomarkers to predict the efficacy of immunotherapeutic interventions.


block bodyEnd

block bodyVendorScripts

block bodyCustomScripts