extends ./layout/layout.pug

block globalVars

block variables
  - let isPublications = true;
  - let isGreen2 = true;

block headEnd

block bodyStart

block content
  .publications.container
    .subtitle.notes
      a(href="./home.html") ↲ INDEX
    .title.title--no-text
      .title__left.h1
        | Publications
    .publications__list
      .publications__list-item
        .h2 2020
        .publications__list-item-inner
          p.h3 B cells, plasma cells and antibody repertoires in the tumour microenvironment. Nat Rev Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Sharonov GV, Serebrovskaya EO, Yuzhakova DV, Britanova OV, Chudakov DM.
          .notes.publications__link <a href="https://www.nature.com/articles/s41577-019-0257-x" class="notes--link" target="_blank">doi: 10.1038/s41577-019-0257-x.↗</a>
          .notes 2020 Jan 27

        .publications__article
          | Recent data show that B cells and plasma cells located in tumours or in tumour-draining lymph nodes can have important roles in shaping antitumour immune responses. In tumour-associated tertiary lymphoid structures, T cells and B cells interact and undergo cooperative selection, specialization and clonal expansion. Importantly, B cells can present cognate tumour-derived antigens to T cells, with the functional consequences of such interactions being shaped by the B cell phenotype. Furthermore, the isotype and specificity of the antibodies produced by plasma cells can drive distinct immune responses. Here we summarize our current knowledge of the roles of B cells and antibodies in the tumour microenvironment. Moreover, we discuss the potential of using immunoglobulin repertoires as a source of tumour-specific receptors for immunotherapy or as biomarkers to predict the efficacy of immunotherapeutic interventions.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 An overview of immunoinformatics approaches and databases linking T cell receptor repertoires to their antigen specificity. immunogenetics.
            span.publications__more.publications__more--desktop(type="button")
          p.text Zvyagin IV, Tsvetkov VO, Chudakov DM, Shugay M.
          .notes.publications__link 72(1-2):77-84. <a href="https://link.springer.com/article/10.1007%2Fs00251-019-01139-4" class="notes--link" target="_blank">doi: 10.1007/s00251-019-01139-4.↗</a>
          .notes 2020 Feb

        .publications__article
          | Recent advances in molecular and bioinformatic methods have greatly improved our ability to study the formation of an adaptive immune response towards foreign pathogens, self-antigens, and cancer neoantigens. T cell receptors (TCR) are the key players in this process that recognize peptides presented by major histocompatibility complex (MHC). Owing to the huge diversity of both TCR sequence variants and peptides they recognize, accumulation and complex analysis of large amounts of TCR-antigen specificity data is required for understanding the structure and features of adaptive immune responses towards pathogens, vaccines, cancer, as well as autoimmune responses. In the present review, we summarize recent efforts on gathering and interpreting TCR-antigen specificity data and outline the critical role of tighter integration with other immunoinformatics data sources that include epitope MHC restriction, TCR repertoire structure models, and TCR/peptide/MHC structural data. We suggest that such integration can lead to the ability to accurately annotate individual TCR repertoires, efficiently estimate epitope and neoantigen immunogenicity, and ultimately, in silico identify TCRs specific to yet unstudied antigens and predict self-peptides related to autoimmunity.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2019
        .publications__list-item-inner
          p.h3 Intratumoral immunoglobulin isotypes predict survival in lung adenocarcinoma subtypes. J Immunother Cancer.
            span.publications__more.publications__more--desktop(type="button")
          p.text Isaeva OI, Sharonov GV, Serebrovskaya EO, Turchaninova MA, Zaretsky AR, Shugay M, Chudakov DM.
          .notes.publications__link 7(1):279. <a href="https://jitc.biomedcentral.com/articles/10.1186/s40425-019-0747-1" class="notes--link" target="_blank">doi: 10.1186/s40425-019-0747-1.↗</a>
          .notes 2019 Oct 29

        .publications__article
          | Background<br>
          | The role of tumor-infiltrating B-cells (TIBs) and intratumorally-produced antibodies in cancer-immunity interactions essentially remains terra incognita. In particular, it remains unexplored how driver mutations could be associated with distinct TIBs signatures and their role in tumor microenvironment.
          <br><br>
          | Methods<br>
          | Here we analyzed associations of immunoglobulin isotypes and clonality with survival in TCGA RNA-Seq data for lung adenocarcinoma (LUAD), stratifying patients into 12 driver mutation and phenotypic tumor subgroups.
          <br><br>
          | Results<br>
          | We revealed several unexpected associations between TIBs behavior and prognosis. Abundance and high proportion of IgG1 isotype, and low proportion of IgA among all intratumorally produced immunoglobulins were specifically associated with improved overall survival for KRASmut but not KRASwt LUAD, revealing the first link between a driver mutation and B-cell response. We found specific IgG1 signature associated with long survival, which suggests that particular specificities of IgG1+ TIBs could be beneficial in KRASmut LUAD. In contrast to our previous observations for melanoma, highly clonal IgG1 production by plasma cells had no meaningful effect on prognosis, suggesting that IgG1+ TIBs may exert a beneficial effect in KRASmut cases in an alternative way, such as efficient presentation of cognate antigens or direct B cell attack on tumor cells. Notably, a high proportion of the IgG1 isotype is positively correlated with the non-silent mutation burden both in the general LUAD cohort and in most patient subgroups, supporting a role for IgG1+ TIBs in antigen presentation. Complementing the recent finding that the presence of stromal IgG4-producing cells is associated with a favorable prognosis for patients with stage I squamous cell carcinoma, we show that the abundance of IgG4-producing TIBs likewise has a strong positive effect on overall survival in STK11mut and proximal proliferative subgroups of LUAD patients. We hypothesize that the positive role of IgG4 antibodies in some of the lung cancer subtypes could be associated with reported inability of IgG4 isotype to form immune complexes, thus preventing immunosuppression via activation of the myeloid-derived suppressor cell (MDSC) phenotype.
          <br><br>
          | Conclusions<br>
          | We discover prominent and distinct associations between TIBs antibody isotypes and survival in lung adenocarcinoma carrying specific driver mutations. These findings indicate that particular types of tumor-immunity relations could be beneficial in particular driver mutation context, which should be taken into account in developing strategies of cancer immunotherapy and combination therapies. Specificity of protective B cell populations in specific cancer subgroups could become a clue to efficient targeted immunotherapies for appropriate cohorts of patients.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 VDJdb in 2019: database extension, new analysis infrastructure and a T-cell receptor motif compendium. Nucleic Acids Res.
            span.publications__more.publications__more--desktop(type="button")
          p.text Bagaev DV, Vroomans RMA, Samir J, Stervbo U, Rius C, Dolton G, Greenshields-Watson A, Attaf M, Egorov ES, Zvyagin IV, Babel N, Cole DK, Godkin AJ, Sewell AK, Kesmir C, Chudakov DM, Luciani F, Shugay M
          .notes.publications__link pii: gkz874. <a href="https://academic.oup.com/nar/advance-article/doi/10.1093/nar/gkz874/5582255" class="notes--link" target="_blank">doi: 10.1093/nar/gkz874.↗</a>
          .notes 2019 Oct 7

        .publications__article
          | Here, we report an update of the VDJdb database with a substantial increase in the number of T-cell receptor (TCR) sequences and their cognate antigens. The update further provides a new database infrastructure featuring two additional analysis modes that facilitate database querying and real-world data analysis. The increased yield of TCR specificity identification methods and the overall increase in the number of studies in the field has allowed us to expand the database more than 5-fold. Furthermore, several new analysis methods are included. For example, batch annotation of TCR repertoire sequencing samples allows for annotating large datasets on-line. Using recently developed bioinformatic methods for TCR motif mining, we have built a reduced set of high-quality TCR motifs that can be used for both training TCR specificity predictors and matching against TCRs of interest. These additions enhance the versatility of the VDJdb in the task of exploring T-cell antigen specificities. The database is available at <a href="https://vdjdb.cdr3.net" class="notes--link" target="_blank">https://vdjdb.cdr3.net</a>.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Detecting T cell receptors involved in immune responses from single repertoire snapshots. PLoS Biol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Pogorelyy MV, Minervina AA, Shugay M, Chudakov DM, Lebedev YB, Mora T, Walczak AM.
          .notes.publications__link 17(6):e3000314. <a href="https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000314" class="notes--link" target="_blank">doi: 10.1371/journal.pbio.3000314.↗</a>
          .notes 2019 Jun 13

        .publications__article
          | Hypervariable T cell receptors (TCRs) play a key role in adaptive immunity, recognizing a vast diversity of pathogen-derived antigens. Our ability to extract clinically relevant information from large high-throughput sequencing of TCR repertoires (RepSeq) data is limited, because little is known about TCR–disease associations. We present Antigen-specific Lymphocyte Identification by Clustering of Expanded sequences (ALICE), a statistical approach that identifies TCR sequences actively involved in current immune responses from a single RepSeq sample and apply it to repertoires of patients with a variety of disorders — patients with autoimmune disease (ankylosing spondylitis [AS]), under cancer immunotherapy, or subject to an acute infection (live yellow fever [YF] vaccine). We validate the method with independent assays. ALICE requires no longitudinal data collection nor large cohorts, and it is directly applicable to most RepSeq datasets. Its results facilitate the identification of TCR variants associated with diseases and conditions, which can be used for diagnostics and rational vaccine design.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Memory CD4+ T cells are generated in the human fetal intestine. Nature Immunology.
            span.publications__more.publications__more--desktop(type="button")
          p.text Li N, van Unen V, Abdelaal T, Guo N, Kasatskaya SA, Ladell K, McLaren JE, Egorov ES, Izraelson M, Chuva de Sousa Lopes SM, Höllt T, Britanova OV, Eggermont J, de Miranda NFCC, Chudakov DM, Price DA, Lelieveldt BPF, Koning F.
          .notes.publications__link 20(3):301-312. <a href="https://www.nature.com/articles/s41590-018-0294-9" class="notes--link" target="_blank">doi: 10.1038/s41590-018-0294-9.↗</a>
          .notes 2019 Mar

        .publications__article
          |The fetus is thought to be protected from exposure to foreign antigens, yet CD45RO+ T cells reside in the fetal intestine. Here we combined functional assays with mass cytometry, single-cell RNA sequencing and high-throughput T cell antigen receptor (TCR) sequencing to characterize the CD4+ T cell compartment in the human fetal intestine. We identified 22 CD4+ T cell clusters, including naive-like, regulatory-like and memory-like subpopulations, which were confirmed and further characterized at the transcriptional level. Memory-like CD4+ T cells had high expression of Ki-67, indicative of cell division, and CD5, a surrogate marker of TCR avidity, and produced the cytokines IFN-γ and IL-2. Pathway analysis revealed a differentiation trajectory associated with cellular activation and proinflammatory effector functions, and TCR repertoire analysis indicated clonal expansions, distinct repertoire characteristics and interconnections between subpopulations of memory-like CD4+ T cells. Imaging mass cytometry indicated that memory-like CD4+ T cells colocalized with antigen-presenting cells. Collectively, these results provide evidence for the generation of memory-like CD4+ T cells in the human fetal intestine that is consistent with exposure to foreign antigens.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2018
        .publications__list-item-inner
          p.h3 Exploring the pre-immune landscape of antigen-specific T cells. Genome Medicine.
            span.publications__more.publications__more--desktop(type="button")
          p.text Pogorelyy MV, Fedorova AD, McLaren JE, Ladell K, Bagaev DV, Eliseev AV, Mikelov AI, Koneva AE, Zvyagin IV, Price DA, Chudakov DM, Shugay M.
          .notes.publications__link 10(1):68. <a href="https://genomemedicine.biomedcentral.com/articles/10.1186/s13073-018-0577-7" class="notes--link" target="_blank">doi: 10.1186/s13073-018-0577-7.↗</a>
          .notes 2018 Aug 25

        .publications__article
          | Background<br>
          | Adaptive immune responses to newly encountered pathogens depend on the mobilization of antigen-specific clonotypes from a vastly diverse pool of naive T cells. Using recent advances in immune repertoire sequencing technologies, models of the immune receptor rearrangement process, and a database of annotated T cell receptor (TCR) sequences with known specificities, we explored the baseline frequencies of T cells specific for defined human leukocyte antigen (HLA) class I-restricted epitopes in healthy individuals.
          <br><br>
          | Methods<br>
          |We used a database of TCR sequences with known antigen specificities and a probabilistic TCR rearrangement model to estimate the baseline frequencies of TCRs specific to distinct antigens epitopespecificT-cells. We verified our estimates using a publicly available collection of TCR repertoires from healthy individuals. We also interrogated a database of immunogenic and non-immunogenic peptides is used to link baseline T-cell frequencies with epitope immunogenicity.
          <br><br>
          | Results<br>
          |  Our findings revealed a high degree of variability in the prevalence of T cells specific for different antigens that could be explained by the physicochemical properties of the corresponding HLA class I-bound peptides. The occurrence of certain rearrangements was influenced by ancestry and HLA class I restriction, and umbilical cord blood samples contained higher frequencies of common pathogen-specific TCRs. We also identified a quantitative link between specific T cell frequencies and the immunogenicity of cognate epitopes presented by defined HLA class I molecules.
          <br><br>
          | Conclusions<br>
          | Our results suggest that the population frequencies of specific T cells are strikingly non-uniform across epitopes that are known to elicit immune responses. This inference leads to a new definition of epitope immunogenicity based on specific TCR frequencies, which can be estimated with a high degree of accuracy in silico, thereby providing a novel framework to integrate computational and experimental genomics with basic and translational research efforts in the field of T cell immunology.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 The changing landscape of naive T cell receptor repertoire with human aging. Frontiers in Immunology.
            span.publications__more.publications__more--desktop(type="button")
          p.text Egorov ES, Kasatskaya SA, Zubov VN, Izraelson M, Nakonechnaya TO, Staroverov DB, Angius A, Cucca F, Mamedov IZ, Rosati E, Franke A, Shugay M, Pogorelyy MV, Chudakov DM, Britanova OV.
          .notes.publications__link 9:1618. <a href="https://www.frontiersin.org/articles/10.3389/fimmu.2018.01618/full" class="notes--link" target="_blank">doi: 10.3389/fimmu.2018.01618.↗</a>
          .notes 2018 Jul 24

        .publications__article
          | Human aging is associated with a profound loss of thymus productivity, yet naïve T lymphocytes still maintain their numbers by division in the periphery for many years. The extent of such proliferation may depend on the cytokine environment, including IL-7 and T-cell receptor (TCR) "tonic" signaling mediated by self pMHCs recognition. Additionally, intrinsic properties of distinct subpopulations of naïve T cells could influence the overall dynamics of aging-related changes within the naïve T cell compartment. Here, we investigated the differences in the architecture of TCR beta repertoires for naïve CD4, naïve CD8, naïve CD4+CD25-CD31+ (enriched with recent thymic emigrants, RTE), and mature naïve CD4+CD25-CD31- peripheral blood subsets between young and middle-age/old healthy individuals. In addition to observing the accumulation of clonal expansions (as was shown previously), we reveal several notable changes in the characteristics of T cell repertoire. We observed significant decrease of CDR3 length, NDN insert, and number of non-template added N nucleotides within TCR beta CDR3 with aging, together with a prominent change of physicochemical properties of the central part of CDR3 loop. These changes were similar across CD4, CD8, RTE-enriched, and mature CD4 subsets of naïve T cells, with minimal or no difference observed between the latter two subsets for individuals of the same age group. We also observed an increase in "publicity" (fraction of shared clonotypes) of CD4, but not CD8 naïve T cell repertoires. We propose several explanations for these phenomena built upon previous studies of naïve T-cell homeostasis, and call for further studies of the mechanisms causing the observed changes and of consequences of these changes in respect of the possible holes formed in the landscape of naïve T cell TCR repertoire.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Human liver infiltrating γδ T cells are composed of clonally expanded circulating and tissue-resident populations. Journal of Hepatology.
            span.publications__more.publications__more--desktop(type="button")
          p.text Hunter S, Willcox CR, Davey MS, Kasatskaya SA, Jeffery HC, Chudakov DM, Oo YH, Willcox BE.
          .notes.publications__link 69(3):654-665. <a href="https://www.journal-of-hepatology.eu/article/S0168-8278(18)32053-1/fulltext" class="notes--link" target="_blank">doi: 10.1016/j.jhep.2018.05.007.↗</a>
          .notes 2018 Sep

        .publications__article
          | BACKGROUND &amp; AIMS:<br>
          |γδ T cells comprise a substantial proportion of tissue-associated lymphocytes. However, our current understanding of human γδ T cells is primarily based on peripheral blood subsets, while the immunobiology of tissue-associated subsets remains largely unclear. Therefore, we aimed to elucidate the T cell receptor (TCR) diversity, immunophenotype and function of γδ T cells in the human liver.
          <br><br>
          | METHODS:<br>
          | We characterised the TCR repertoire, immunophenotype and function of human liver infiltrating γδ T cells, by TCR sequencing analysis, flow cytometry, in situ hybridisation and immunohistochemistry. We focussed on the predominant tissue-associated Vδ2- γδ subset, which is implicated in liver immunopathology.
          <br><br>
          | RESULTS:<br>
          | Intrahepatic Vδ2- γδ T cells were highly clonally focussed, with single expanded clonotypes featuring complex, private TCR rearrangements frequently dominating the compartment. Such T cells were predominantly CD27lo/- effector lymphocytes, whereas naïve CD27hi, TCR-diverse populations present in matched blood were generally absent in the liver. Furthermore, while a CD45RAhi Vδ2- γδ effector subset present in both liver and peripheral blood contained overlapping TCR clonotypes, the liver Vδ2- γδ T cell pool also included a phenotypically distinct CD45RAlo effector compartment that was enriched for expression of the tissue tropism marker CD69, the hepatic homing chemokine receptors CXCR3 and CXCR6, and liver-restricted TCR clonotypes, suggestive of intrahepatic tissue residency. Liver infiltrating Vδ2- γδ cells were capable of polyfunctional cytokine secretion, and unlike peripheral blood subsets, were responsive to both TCR and innate stimuli.
          <br><br>
          | CONCLUSION:<br>
          | These findings suggest that the ability of Vδ2- γδ T cells to undergo clonotypic expansion and differentiation is crucial in permitting access to solid tissues, such as the liver, which results in functionally distinct peripheral and liver-resident memory γδ T cell subsets. They also highlight the inherent functional plasticity within the Vδ2- γδ T cell compartment and provide information that could be used for the design of cellular therapies that suppress liver inflammation or combat liver cancer.
          <br><br>
          | LAY SUMMARY:<br>
          | γδ T cells are frequently enriched in many solid tissues, however the immunobiology of such tissue-associated subsets in humans has remained unclear. We show that intrahepatic γδ T cells are enriched for clonally expanded effector T cells, whereas naïve γδ T cells are largely excluded. Moreover, whereas a distinct proportion of circulating T cell clonotypes was present in both the liver tissue and peripheral blood, a functionally and clonotypically distinct population of liver-resident γδ T cells was also evident. Our findings suggest that factors triggering γδ T cell clonal selection and differentiation, such as infection, can drive enrichment of γδ T cells into liver tissue, allowing the development of functionally distinct tissue-restricted memory populations specialised in local hepatic immunosurveillance.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 The human Vδ2+ T-cell compartment comprises distinct innate-like Vγ9+ and adaptive Vγ9- subsets. Nature Communications.
            span.publications__more.publications__more--desktop(type="button")
          p.text Davey MS, Willcox CR, Hunter S, Kasatskaya SA, Remmerswaal EBM, Salim M, Mohammed F, Bemelman FJ, Chudakov DM, Oo YH, Willcox BE.
          .notes.publications__link 9(1):1760. <a href="https://www.nature.com/articles/s41467-018-04076-0 class="notes--link" target="_blank">doi: 10.1038/s41467-018-04076-0.↗</a>
          .notes 2018 May 2

        .publications__article
          | Vδ2+ T cells form the predominant human γδ T-cell population in peripheral blood and mediate T-cell receptor (TCR)-dependent anti-microbial and anti-tumour immunity. Here we show that the Vδ2+ compartment comprises both innate-like and adaptive subsets. Vγ9+ Vδ2+ T cells display semi-invariant TCR repertoires, featuring public Vγ9 TCR sequences equivalent in cord and adult blood. By contrast, we also identify a separate, Vγ9- Vδ2+ T-cell subset that typically has a CD27hiCCR7+CD28+IL-7Rα+ naive-like phenotype and a diverse TCR repertoire, however in response to viral infection, undergoes clonal expansion and differentiation to a CD27loCD45RA+CX3CR1+granzymeA/B+ effector phenotype. Consistent with a function in solid tissue immunosurveillance, we detect human intrahepatic Vγ9- Vδ2+ T cells featuring dominant clonal expansions and an effector phenotype. These findings redefine human γδ T-cell subsets by delineating the Vδ2+ T-cell compartment into innate-like (Vγ9+) and adaptive (Vγ9-) subsets, which have distinct functions in microbial immunosurveillance.
        button.publications__more.publications__more--mob(type="button")

      .publications__list-item
        .publications__list-item-inner
          p.h3 Method for identification of condition-associated public antigen receptor sequences. Elife.
            span.publications__more.publications__more--desktop(type="button")
          p.text Pogorelyy MV, Minervina AA, Chudakov DM, Mamedov IZ, Lebedev YB, Mora T, Walczak AM.
          .notes.publications__link 7. pii: e33050. <a href="https://elifesciences.org/articles/33050" class="notes--link" target="_blank">doi: 10.7554/eLife.33050.↗</a>
          .notes 2018 Mar 13

        .publications__article
          | Diverse repertoires of hypervariable immunoglobulin receptors (TCR and BCR) recognize antigens in the adaptive immune system. The development of immunoglobulin receptor repertoire sequencing methods makes it possible to perform repertoire-wide disease association studies of antigen receptor sequences. We developed a statistical framework for associating receptors to disease from only a small cohort of patients, with no need for a control cohort. Our method successfully identifies previously validated Cytomegalovirus and type one diabetes responsive TCR sequences.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 CD8+ T cells with characteristic T cell receptor beta motif are detected in blood and expanded in synovial fluid of ankylosing spondylitis patients. Rheumatology (Oxford).
            span.publications__more.publications__more--desktop(type="button")
          p.text Komech EA, Pogorelyy MV, Egorov ES, Britanova OV, Rebrikov DV, Bochkova AG, Shmidt EI, Shostak NA, Shugay M, Lukyanov S, Mamedov IZ, Lebedev YB, Chudakov DM, Zvyagin IV.
          .notes.publications__link <a href="https://academic.oup.com/rheumatology/advance-article-abstract/doi/10.1093/rheumatology/kex517/4903020?redirectedFrom=fulltext" class="notes--link" target="_blank">doi: 10.1093/rheumatology/kex517.↗</a>
          .notes 2018 Feb 22

        .publications__article
          | The risk of AS is associated with genomic variants related to antigen presentation and specific cytokine signalling pathways, suggesting the involvement of cellular immunity in disease initiation/progression. The aim of the present study was to explore the repertoire of TCR sequences in healthy donors and AS patients to uncover AS-linked TCR variants.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Quantitative profiling reveals minor changes of T cell receptor repertoire in response to subunit inactivated influenza vaccine. Vaccine.
            span.publications__more.publications__more--desktop(type="button")
          p.text Sycheva AL, Pogorelyy MV, Komech EA, Minervina AA, Zvyagin IV, Staroverov DB, Chudakov DM, Lebedev YB, Mamedov IZ.
          .notes.publications__link 36(12):1599-1605 <a href="https://www.sciencedirect.com/science/article/pii/S0264410X18302019?via%3Dihub" class="notes--link" target="_blank">doi: 10.1016/j.vaccine.2018.02.027.↗</a>
          .notes 2018 Mar 14

        .publications__article
          | Vaccination against influenza is widely used to protect against seasonal flu epidemic although its effectiveness is debated. Here we performed deep quantitative T cell receptor repertoire profiling in peripheral blood of a healthy volunteer in response to trivalent subunit influenza vaccine. We did not observe significant rebuilding of peripheral blood T cell receptors composition in response to vaccination. However, we found several clonotypes in memory T cell fraction that were undetectable before the vaccination and had a maximum concentration at day 45 after vaccine administration. These cells were found in lower concentration in the course of repertoire monitoring for two years period. Our observation suggests a potential for recruitment of only a limited number of new T cells after each seasonal influenza vaccination.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2017
        .publications__list-item-inner
          p.h3 Comparative Analysis of Murine T Cell Receptor Repertoires. Immunology.
            span.publications__more.publications__more--desktop(type="button")
          p.text Izraelson M, Nakonechnaya TO, Moltedo B, Egorov ES, Kasatskaya SA, Putintseva EV, Mamedov IZ, Staroverov DB, Shemiakina II, Zakharova MY, Davydov AN, Bolotin DA, Shugay M, Chudakov DM, Rudensky AY, Britanova OV.
          .notes.publications__link <a href="http://onlinelibrary.wiley.com/doi/10.1111/imm.12857/abstract;jsessionid=F6EAB84967C08617FB22C662485E9B2F.f04t04" class="notes--link" target="_blank">doi: 10.1111/imm.12857.↗</a>
          .notes 2017 Oct 28

        .publications__article
          | On the way of understanding the rules and laws of adaptive immunity, high-throughput profiling of TCR repertoires becomes a powerful tool. The structure of TCR repertoires is insightful and instructive even before antigen specificity of each particular receptor becomes available. It embodies information about the thymic and peripheral selection of T cells, about the readiness of an adaptive immunity to withstand new challenges, about the character, the magnitude, and the memory of immune response, and about the etiological and functional proximity of T cell subsets. Here, we describe our current analytical approaches for comparative analysis of murine TCR repertoires, and show several examples of how these approaches can be applied for particular experimental settings. We analyze the efficiency of different metrics used for estimation of repertoire diversity, repertoires’ overlap, V- and J-gene segments usage similarity, and amino acid composition of CDR3. We discuss basic differences of these metrics, their advantages and limitations in different experimental models, and provide guidelines for choosing an efficient way to lead a comparative analysis of TCR repertoires. Applied to the various known and newly developed mouse models, such analysis should allow to disentangle multiple sophisticated puzzles in adaptive immunity.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Antigen receptor repertoire profiling from RNA-seq data. Nat Biotechnol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Bolotin DA, Poslavsky S, Davydov AN, Frenkel FE, Fanchi L, Zolotareva OI, Hemmers S, Putintseva EV, Obraztsova AS, Shugay M, Ataullakhanov RI, Rudensky AY, Schumacher TN, Chudakov DM.
          .notes.publications__link 35(10):908-911 <a href="https://www.nature.com/articles/nbt.3979" class="notes--link" target="_blank">doi: 10.1038/nbt.3979.↗</a>
          .notes 2017 Oct 11

        .publications__article
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 VDJdb: a curated database of T-cell receptor sequences with known antigen specificity. Nucleic Acids Res.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shugay M, Bagaev DV, Zvyagin IV, Vroomans RM, Crawford JC, Dolton G, Komech EA, Sycheva AL, Koneva AE, Egorov ES, Eliseev AV, Van Dyk E, Dash P, Attaf M, Rius C, Ladell K, McLaren JE, Matthews KK, Clemens EB, Douek DC, Luciani F, van Baarle D, Kedzierska K, Kesmir C, Thomas PG, Price DA, Sewell AK, Chudakov DM.
          .notes.publications__link <a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkx760" class="notes--link" target="_blank">doi: 10.1093/nar/gkx760.↗</a>
          .notes 2017 Sep 1

        .publications__article
         | The ability to decode antigen specificities encapsulated in the sequences of rearranged T-cell receptor (TCR) genes is critical for our understanding of the adaptive immune system and promises significant advances in the field of translational medicine. Recent developments in high-throughput sequencing methods (immune repertoire sequencing technology, or RepSeq) and single-cell RNA sequencing technology have allowed us to obtain huge numbers of TCR sequences from donor samples and link them to T-cell phenotypes. However, our ability to annotate these TCR sequences still lags behind, owing to the enormous diversity of the TCR repertoire and the scarcity of available data on T-cell specificities. In this paper, we present VDJdb, a database that stores and aggregates the results of published T-cell specificity assays and provides a universal platform that couples antigen specificities with TCR sequences. We demonstrate that VDJdb is a versatile instrument for the annotation of TCR repertoire data, enabling a concatenated view of antigen-specific TCR sequence motifs. VDJdb can be accessed at <a href="https://vdjdb.cdr3.net" class="notes--link" target="_blank">https://vdjdb.cdr3.net</a> and <a href="https://github.com/antigenomics/vdjdb-db" class="notes--link" target="_blank">https://github.com/antigenomics/vdjdb-db</a>.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Persisting fetal clonotypes influence the structure and overlap of adult human T cell receptor repertoires.PLoS Comput Biol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Pogorelyy MV, Elhanati Y, Marcou Q, Sycheva AL, Komech EA, Nazarov VI, Britanova OV, Chudakov DM, Mamedov IZ, Lebedev YB, Mora T, Walczak AM.
          .notes.publications__link 13(7):e1005572. <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005572" class="notes--link" target="_blank">doi: 10.1371/journal.pcbi.1005572.↗</a>
          .notes 2017 Jul 6

        .publications__article
         | The diversity of T-cell receptors recognizing foreign pathogens is generated through a highly stochastic recombination process, making the independent production of the same sequence rare. Yet unrelated individuals do share receptors, which together constitute a "public" repertoire of abundant clonotypes. The TCR repertoire is initially formed prenatally, when the enzyme inserting random nucleotides is downregulated, producing a limited diversity subset. By statistically analyzing deep sequencing T-cell repertoire data from twins, unrelated individuals of various ages, and cord blood, we show that T-cell clones generated before birth persist and maintain high abundances in adult organisms for decades, slowly decaying with age. Our results suggest that large, low-diversity public clones are created during pre-natal life, and survive over long periods, providing the basis of the public repertoire.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 A high-throughput assay for quantitative measurement of PCR errors.Sci Rep.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shagin DA, Shagina IA, Zaretsky AR, Barsova EV, Kelmanson IV, Lukyanov S, Chudakov DM, Shugay M
          .notes.publications__link 7(1):2718 <a href="https://www.nature.com/articles/s41598-017-02727-8" class="notes--link" target="_blank">doi: 10.1038/s41598-017-02727-8.↗</a>
          .notes 2017 Jun 2

        .publications__article
         | The accuracy with which DNA polymerase can replicate a template DNA sequence is an extremely important property that can vary by an order of magnitude from one enzyme to another. The rate of nucleotide misincorporation is shaped by multiple factors, including PCR conditions and proofreading capabilities, and proper assessment of polymerase error rate is essential for a wide range of sensitive PCR-based assays. In this paper, we describe a method for studying polymerase errors with exceptional resolution, which combines unique molecular identifier tagging and high-throughput sequencing. Our protocol is less laborious than commonly-used methods, and is also scalable, robust and accurate. In a series of nine PCR assays, we have measured a range of polymerase accuracies that is in line with previous observations. However, we were also able to comprehensively describe individual errors introduced by each polymerase after either 20 PCR cycles or a linear amplification, revealing specific substitution preferences and the diversity of PCR error frequency profiles. We also demonstrate that the detected high-frequency PCR errors are highly recurrent and that the position in the template sequence and polymerase-specific substitution preferences are among the major factors influencing the observed PCR error rate.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Application of nonsense-mediated primer exclusion (NOPE) for preparation of unique molecular barcoded libraries. BMC Genomics.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shagin DA, Turchaninova MA, Shagina IA, Shugay M, Zaretsky AR, Zueva OI, Bolotin DA, Lukyanov S, Chudakov DM.
          .notes.publications__link BMC Genomics. 18(1):440. <a href="https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-017-3815-2" class="notes--link" target="_blank">doi: 10.1186/s12864-017-3815-2.↗</a>
          .notes 2017 Jun 5

        .publications__article
         | Recently we proposed efficient method to exclude undesirable primers at any stage of amplification reaction, here termed NOPE (NOnsense-mediated Primer Exclusion). According to this method, added oligonucleotide overlapping with the 3'-end of unwanted amplification primer (NOPE oligo) simultaneously provides a template for its elongation. This elongation disrupts specificity of unwanted primer, preventing its further participation in PCR. The suggested approach allows to rationally manage the course of PCR reactions in order to facilitate analysis of complex DNA mixtures as well as to perform multistage PCR bypassing intermediate purification steps. Here we apply NOPE method to DNA library preparation for the high-throughput sequencing (HTS) with the PCR-based introduction of unique molecular identifiers (UMI). We show that NOPE oligo efficiently neutralizes UMI-containing oligonucleotides after introduction of UMI into sample DNA molecules, thus allowing to proceed with further amplification steps without purification and associated loss of starting material. At the same time, NOPE oligo does not affect the efficiency of target PCR amplification. We describe a simple, robust and cheap modification of UMI-labeled HTS libraries preparation procedure, that allows to bypass purification step and thus to preserve starting material which may be limited, e.g. circulating tumor DNA, circulating fetal DNA, or small amounts of isolated cells of interest. Furthermore, demonstrated simplicity and robustness of NOPE method should make it popular in various PCR protocols.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 MAGERI: Computational pipeline for molecular-barcoded targeted resequencing.PLoS Comput Biol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shugay M, Zaretsky AR, Shagin DA, Shagina IA, Volchenkov IA, Shelenkov AA, Lebedin MY, Bagaev DV, Lukyanov S, Chudakov DM.
          .notes.publications__link 13(5):e1005480. <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005480" class="notes--link" target="_blank">doi: 10.1371/journal.pcbi.1005480↗</a>
          .notes 2017 May 5

        .publications__article
         | Unique molecular identifiers (UMIs) show outstanding performance in targeted high-throughput resequencing, being the most promising approach for the accurate identification of rare variants in complex DNA samples. This approach has application in multiple areas, including cancer diagnostics, thus demanding dedicated software and algorithms. Here we introduce MAGERI, a computational pipeline that efficiently handles all caveats of UMI-based analysis to obtain high-fidelity mutation profiles and call ultra-rare variants. Using an extensive set of benchmark datasets including gold-standard biological samples with known variant frequencies, cell-free DNA from tumor patient blood samples and publicly available UMI-encoded datasets we demonstrate that our method is both robust and efficient in calling rare variants. The versatility of our software is supported by accurate results obtained for both tumor DNA and viral RNA samples in datasets prepared using three different UMI-based protocols.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Clonal selection in the human Vδ1 T cell repertoire indicates γδ TCR-dependent adaptive immune surveillance. Nature Communications.
            span.publications__more.publications__more--desktop(type="button")
          p.text Davey MS, Willcox CR, Joyce SP, Ladell K, Kasatskaya SA, McLaren JE, Hunter S, Salim M, Mohammed F, Price DA, Chudakov DM, Willcox BE.
          .notes.publications__link 8:14760. <a href="https://www.nature.com/articles/ncomms14760" class="notes--link" target="_blank">doi:10.1038/ncomms14760.↗</a>
          .notes 2017 Mar 1

        .publications__article
         | γδ T cells are considered to be innate-like lymphocytes that respond rapidly to stress without clonal selection and differentiation. Here we use next-generation sequencing to probe how this paradigm relates to human Vδ2neg T cells, implicated in responses to viral infection and cancer. The prevalent Vδ1 T cell receptor (TCR) repertoire is private and initially unfocused in cord blood, typically becoming strongly focused on a few high-frequency clonotypes by adulthood. Clonal expansions have differentiated from a naive to effector phenotype associated with CD27 downregulation, retaining proliferative capacity and TCR sensitivity, displaying increased cytotoxic markers and altered homing capabilities, and remaining relatively stable over time. Contrastingly, Vδ2+ T cells express semi-invariant TCRs, which are present at birth and shared between individuals. Human Vδ1+ T cells have therefore evolved a distinct biology from the Vδ2+ subset, involving a central, personalized role for the γδ TCR in directing a highly adaptive yet unconventional form of immune surveillance.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2016
        .publications__list-item-inner
          p.h3 Regulatory T Cells Exhibit Distinct Features in Human Breast Cancer. Immunity.
            span.publications__more.publications__more--desktop(type="button")
          p.text Plitas G, Konopacki C, Wu K, Bos PD, Morrow M, Putintseva EV, Chudakov DM, Rudensky AY.
          .notes.publications__link 45(5):1122-1134.  <a href="http://www.cell.com/immunity/abstract/S1074-7613(16)30443-5?_returnURL=http%3A%2F%2Flinkinghub.elsevier.com%2Fretrieve%2Fpii%2FS1074761316304435%3Fshowall%3Dtrue" class="notes--link" target="_blank">doi: 10.1016/j.immuni.2016.10.032.↗</a>
          .notes 2016 Nov 15

        .publications__article
         | Regulatory T (Treg) cells reside in lymphoid organs and barrier tissues where they control different types of inflammatory responses. Treg cells are also found in human cancers, and studies in animal models suggest that they contribute to cancer progression. However, properties of human intratumoral Treg cells and those present in corresponding normal tissue remain largely unknown. Here, we analyzed features of Treg cells in untreated human breast carcinomas, normal mammary gland, and peripheral blood. Tumor-resident Treg cells were potently suppressive and their gene-expression pattern resembled that of normal breast tissue, but not of activated peripheral blood Treg cells. Nevertheless, a number of cytokine and chemokine receptor genes, most notably CCR8, were upregulated in tumor-resident Treg cells in comparison to normal tissue-resident ones. Our studies suggest that targeting CCR8 for the depletion of tumor-resident Treg cells might represent a promising immunotherapeutic approach for the treatment of breast cancer.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Tracking T-cell immune reconstitution after TCRαβ/CD19-depleted hematopoietic cells transplantation in children. Leukemia.
            span.publications__more.publications__more--desktop(type="button")
          p.text Zvyagin IV, Mamedov IZ, Tatarinova OV, Komech EA, Kurnikova EE, Boyakova EV, Brilliantova V, Shelikhova LN, Balashov DN, Shugay M Sycheva AL, Kasatskaya SA, Lebedev YB, Maschan AA, Maschan MA, Chudakov DM.
          .notes.publications__link  <a href="http://www.nature.com/leu/journal/vaop/ncurrent/full/leu2016321a.html" class="notes--link" target="_blank">doi:10.1038/leu.2016.321.↗</a>
          .notes 2016 Dec 9

        .publications__article
         | αβT-cell-depleted allogeneic hematopoietic cell transplantation holds promise for the safe and accessible therapy of both malignant and non-malignant blood disorders. Here we employed molecular barcoding normalized T-cell receptor (TCR) profiling to quantitatively track T-cell immune reconstitution after TCRαβ-/CD19-depleted transplantation in children. We demonstrate that seemingly early reconstitution of αβT-cell counts 2 months after transplantation is based on only several hundred rapidly expanded clones originating from non-depleted graft cells. In further months, frequency of these hyperexpanded clones declines, and after 1 year the observed T-cell counts and TCRβ diversity are mostly provided by the newly produced T cells. We also demonstrate that high TCRβ diversity at day 60 observed for some of the patients is determined by recipient T cells and intrathymic progenitors that survived conditioning regimen. Our results indicate that further efforts on optimization of TCRαβ-/CD19-depleted transplantation protocols should be directed toward providing more efficient T-cell defense in the first months after transplantation.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 High-quality full-length immunoglobulin profiling with unique molecular barcoding. Nature Protocols
            span.publications__more.publications__more--desktop(type="button")
          p.text Turchaninova MA, Davydov A, Britanova OV, Shugay M, Bikos V, Egorov ES, Kirgizova VI, Merzlyak EM, Staroverov DB, Bolotin DA, Mamedov IZ, Izraelson M, Logacheva MD, Kladova O, Plevova K, Pospisilova S &amp; Chudakov DM.
          .notes.publications__link 11(9):1599-616. <a href="http://www.nature.com/nprot/journal/v11/n9/full/nprot.2016.093.html" class="notes--link" target="_blank">doi: 10.1038/nprot.2016.093.↗</a>
          .notes 2016 Sep

        .publications__article
         | High-throughput sequencing analysis of hypermutating immunoglobulin (IG) repertoires remains a challenging task. Here we present a robust protocol for the full-length profiling of human and mouse IG repertoires. This protocol uses unique molecular identifiers (UMIs) introduced in the course of cDNA synthesis to control bottlenecks and to eliminate PCR and sequencing errors. Using asymmetric 400+100-nt paired-end Illumina sequencing and UMI-based assembly with the new version of the MIGEC software, the protocol allows up to 750-nt lengths to be sequenced in an almost error-free manner. This sequencing approach should also be applicable to various tasks beyond immune repertoire studies. In IG profiling, the achieved length of high-quality sequence covers the variable region of even the longest chains, along with the fragment of a constant region carrying information on the antibody isotype. The whole protocol, including preparation of cells and libraries, sequencing and data analysis, takes 5 to 6 d.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Single-cell analysis of glandular T cell receptors in Sjögren's syndrome. JCI Insight.
            span.publications__more.publications__more--desktop(type="button")
          p.text Joachims ML, Leehan KM, Lawrence C, Pelikan RC, Moore JS, Pan Z, Rasmussen A, Radfar L, Lewis DM, Grundahl KM, Kelly JA, Wiley GB, Shugay M, Chudakov DM, Lessard CJ, Stone DU, Scofield RH, Montgomery CG, Sivils KL, Thompson LF, Farris AD.
          .notes.publications__link 1(8). pii: e85609. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4922426/" class="notes--link" target="_blank">doi: 10.1172/jci.insight.85609.↗</a>
          .notes 2016 Jun 2

        .publications__article
         | CD4+ T cells predominate in salivary gland (SG) inflammatory lesions in Sjögren’s syndrome (SS). However, their antigen specificity, degree of clonal expansion, and relationship to clinical disease features remain unknown. We used multiplex reverse-transcriptase PCR to amplify paired T cell receptor α (TCRα) and β transcripts of single CD4+CD45RA– T cells from SG and peripheral blood (PB) of 10 individuals with primary SS, 9 of whom shared the HLA DR3/DQ2 risk haplotype. TCRα and β sequences were obtained from a median of 91 SG and 107 PB cells per subject. The degree of clonal expansion and frequency of cells expressing two productively rearranged α genes were increased in SG versus PB. Expanded clones from SG exhibited complementary-determining region 3 (CDR3) sequence similarity both within and among subjects, suggesting antigenic selection and shared antigen recognition. CDR3 similarities were shared among expanded clones from individuals discordant for canonical Ro and La autoantibodies, suggesting recognition of alternative SG antigen(s). The extent of SG clonal expansion correlated with reduced saliva production and increased SG fibrosis, linking expanded SG T cells with glandular dysfunction. Knowledge of paired TCRα and β sequences enables further work toward identification of target antigens and development of novel therapies.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 VDJviz: a versatile browser for immunogenomics data. BMC Genomics.
            span.publications__more.publications__more--desktop(type="button")
          p.text Bagaev DV, Zvyagin IV, Putintseva EV, Izraelson M, Britanova OV, Chudakov DM, Shugay M.
          .notes.publications__link 17(1):453. <a href="http://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-016-2799-7" class="notes--link" target="_blank">doi: 10.1186/s12864-016-2799-7.↗</a>
          .notes 2016 Jun 13

        .publications__article
          | Background<br>
          |The repertoire of T- and B-cell receptor sequences encodes the antigen specificity of adaptive immunity system, determines its present state and guides its ability to mount effective response against encountered antigens in future. High throughput sequencing of immune repertoires (Rep-Seq) is a promising technique that allows to profile millions of antigen receptors of an individual in a single experiment. While a substantial number of tools for mapping and assembling Rep-Seq data were published recently, the field still lacks an intuitive and flexible tool that can be used by researchers with little or no computational background for in-depth analysis of immune repertoire profiles.
          <br><br>
          | Results<br>
          | Here we report VDJviz, a web tool that can be used to browse, analyze and perform quality control of Rep-Seq results generated by various pre-processing software. On a set of real data examples we show that VDJviz can be used to explore key repertoire characteristics such as spectratype, repertoire clonality, V-(D)-J recombination patterns and to identify shared clonotypes. We also demonstrate the utility of VDJviz in detection of critical Rep-Seq biases such as artificial repertoire diversity and cross-sample contamination.
          <br><br>
          | Conclusions<br>
          | VDJviz is a versatile and lightweight tool that can be easily employed by biologists, immunologists and immunogeneticists for routine analysis and quality control of Rep-Seq data. The software is freely available for non-commercial purposes, and can be downloaded from: https://github.com/antigenomics/vdjviz.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Dynamics of Individual T Cell Repertoires: From Cord Blood to Centenarians. J Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Britanova OV, Shugay M, Merzlyak EM, Staroverov DB, Putintseva EV, Turchaninova MA, Mamedov IZ, Pogorelyy MV, Bolotin DA, Izraelson M, Davydov AN, Egorov ES, Kasatskaya SA, Rebrikov DV, Lukyanov S, Chudakov DM.
          .notes.publications__link 196(12):5005-13. <a href="http://www.jimmunol.org/content/196/12/5005.long" class="notes--link" target="_blank"> doi: 10.4049/jimmunol.1600005.↗</a>
          .notes 2016 Jun 15

        .publications__article
          | The diversity, architecture, and dynamics of the TCR repertoire largely determine our ability to effectively withstand infections and malignancies with minimal mistargeting of immune responses. In this study, we have employed deep TCRβ repertoire sequencing with normalization based on unique molecular identifiers to explore the long-term dynamics of T cell immunity. We demonstrate remarkable stability of repertoire, where approximately half of all T cells in peripheral blood are represented by clones that persist and generally preserve their frequencies for 3 y. We further characterize the extremes of lifelong TCR repertoire evolution, analyzing samples ranging from umbilical cord blood to centenarian peripheral blood. We show that the fetal TCR repertoire, albeit structurally maintained within regulated borders due to the lower numbers of randomly added nucleotides, is not limited with respect to observed functional diversity. We reveal decreased efficiency of nonsense-mediated mRNA decay in umbilical cord blood, which may reflect specific regulatory mechanisms in development. Furthermore, we demonstrate that human TCR repertoires are functionally more similar at birth but diverge during life, and we track the lifelong behavior of CMV- and EBV-specific T cell clonotypes. Finally, we reveal gender differences in dynamics of TCR diversity constriction, which come to naught in the oldest age. Based on our data, we propose a more general explanation for the previous observations on the relationships between longevity and immunity.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 CR usage, gene expression and function of two distinct FOXP3(+)Treg subsets within CD4(+)CD25(hi) T cells identified by expression of CD39 and CD45RO. Immunol Cell Biol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Ye L, Goodall JC, Zhang L, Putintseva EV, Lam B, Jiang L, Liu W, Yin J, Lin L, Li T, Wu X, Yeo G, Shugay M, Chudakov DM, Gaston H, Xu H.
          .notes.publications__link 94(3):293-305. <a href="http://www.nature.com/icb/journal/v94/n3/full/icb201590a.html" class="notes--link" target="_blank"> doi: 10.1038/icb.2015.90.↗</a>
          .notes 2016 Mar

        .publications__article
          | FOXP3+ regulatory T (Treg) cells are indispensable for immune homeostasis, but their study in humans is complicated by heterogeneity within Treg, the difficulty in purifying Tregs using surface marker expression (e.g. CD25) and the transient expression of FOXP3 by activated effector cells. Here, we report that expression of CD39 and CD45RO distinguishes three sub-populations within human CD4+CD25hi T cells. Initial phenotypic and functional analysis demonstrated that CD4+CD25hiCD39+CD45RO+ cells had properties consistent with effector Treg, CD4+CD25hiCD39−CD45RO− cells were naïve Treg and CD4+CD25hiCD39−CD45RO+ cells were predominantly non-Treg with effector T-cell function. Differences in these two newly identified Treg subsets were corroborated by studies of gene expression and TCR analysis. To apply this approach, we studied these two newly identified Treg subsets in ankylosing spondylitis, and showed impairment in both effector and naïve Treg. This work highlights the importance of discriminating Treg subsets to enable proper comparisons of immune regulatory capacity in healthy individuals and those with inflammatory disease.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2015
        .publications__list-item-inner
          p.h3 Sequencing rare T-cell populations. Oncotarget.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shugay M, Lukyanov S, Chudakov DM.
          .notes.publications__link 6(37):39393-4. <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=article&op=view&path[]=6349&pubmed-linkout=1" class="notes--link" target="_blank"> doi: 10.18632/oncotarget.6349.↗</a>
          .notes 2015 Nov 24

        .publications__article
          | High-throughput sequencing of T cell (TCR) receptor repertoires is a promising approach that can be used to characterize the state and dynamics of adaptive immunity and, potentially, to deduce the antigen specificityof the immune response.
          <br><br>
          | While the number of applications of TCR profiling is constantly growing, basic protocols have several drawbacks that are making it difficult to utilize them in certain experimental settings. In particular, quantitativedata interpretation is hampered by stochasticity ofsampling of lymphocytes and TCR-encoding RNA/DNA, stochasticity and biases of PCR amplification, andsequencing quality biases.
          <br><br>
          | These problems become more evident when profiling rare T-cell subpopulations, such as tumor- infiltrating lymphocytes (TILs) that may contain low lymphocyte counts, populations enriched for tumor antigen-specific cells, or functional T cell subests of interest, the tasks critical for studying the role of adaptive immunity in cancer progression and treatment.
          <br><br>
          | In this brief note we summarize what we suggest to be the most relevant issues of studying tumor-specific TCR repertoire for the minor lymphocyte counts, where derived data is more prone to noise introduced by stochastic sampling, which renders methods that operate with T-cell clonotype frequencies less useful.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 VDJtools: Unifying Post-analysis of T Cell Receptor Repertoires. PLoS Comput Biol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shugay M, Bagaev DV, Turchaninova MA, Bolotin DA, Britanova OV, Putintseva EV, Pogorelyy MV, Nazarov VI, Zvyagin IV, Kirgizova VI, Kirgizov KI, Skorobogatova EV, Chudakov DM.
          .notes.publications__link 11(11). <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004503" class="notes--link" target="_blank"> doi: 10.1371/journal.pcbi.1004503.↗</a>
          .notes 2015 Nov 25

        .publications__article
          | Despite the growing number of immune repertoire sequencing studies, the field still lacks software for analysis and comprehension of this high-dimensional data. Here we report VDJtools, a complementary software suite that solves a wide range of T cell receptor (TCR) repertoires post-analysis tasks, provides a detailed tabular output and publication-ready graphics, and is built on top of a flexible API. Using TCR datasets for a large cohort of unrelated healthy donors, twins, and multiple sclerosis patients we demonstrate that VDJtools greatly facilitates the analysis and leads to sound biological conclusions. VDJtools software and documentation are available at <a href="https://github.com/mikessh/vdjtools" class="notes--link" target="_blank">https://github.com/mikessh/vdjtools.</a>
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 A mechanism for expansion of regulatory T-cell repertoire and its role in self-tolerance. Nature.
            span.publications__more.publications__more--desktop(type="button")
          p.text Feng Y, van der Veeken J, Shugay M, Putintseva EV, Osmanbeyoglu HU, Dikiy S, Hoyos BE, Moltedo B, Hemmers S, Treuting P, Leslie CS, Chudakov DM, Rudensky AY.
          .notes.publications__link 528(7580):132-6. <a href="http://www.nature.com/nature/journal/v528/n7580/full/nature16141.html" class="notes--link" target="_blank"> doi: 10.1038/nature16141.↗</a>
          .notes 2015 Dec 3

        .publications__article
          | T-cell receptor (TCR) signalling has a key role in determining T-cell fate. Precursor cells expressing TCRs within a certain low-affinity range for complexes of self-peptide and major histocompatibility complex (MHC) undergo positive selection and differentiate into naive T cells expressing a highly diverse self-MHC-restricted TCR repertoire. In contrast, precursors displaying TCRs with a high affinity for ‘self’ are either eliminated through TCR-agonist-induced apoptosis (negative selection) or restrained by regulatory T (Treg) cells, whose differentiation and function are controlled by the X-chromosome-encoded transcription factor Foxp3. Foxp3 is expressed in a fraction of self-reactive T cells that escape negative selection in response to agonist-driven TCR signals combined with interleukin 2 (IL-2) receptor signalling. In addition to Treg cells, TCR-agonist-driven selection results in the generation of several other specialized T-cell lineages such as natural killer T cells and innate mucosal-associated invariant T cells. Although the latter exhibit a restricted TCR repertoire, Treg cells display a highly diverse collection of TCRs. Here we explore in mice whether a specialized mechanism enables agonist-driven selection of Treg cells with a diverse TCR repertoire, and the importance this holds for self-tolerance. We show that the intronic Foxp3 enhancer conserved noncoding sequence 3 (CNS3) acts as an epigenetic switch that confers a poised state to the Foxp3 promoter in precursor cells to make Treg cell lineage commitment responsive to a broad range of TCR stimuli, particularly to suboptimal ones. CNS3-dependent expansion of the TCR repertoire enables Treg cells to control self-reactive T cells effectively, especially when thymic negative selection is genetically impaired. Our findings highlight the complementary roles of these two main mechanisms of self-tolerance.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 tcR: an R package for T cell receptor repertoire advanced data analysis. BMC Bioinformatics.
            span.publications__more.publications__more--desktop(type="button")
          p.text Nazarov VI, Pogorelyy MV, Komech EA, Zvyagin IV, Bolotin DA, Shugay M, Chudakov DM, Lebedev YB, Mamedov IZ.
          .notes.publications__link 16:175. <a href="http://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-015-0613-1" class="notes--link" target="_blank"> doi: 10.1186/s12859-015-0613-1.↗</a>
          .notes 2015 May 28

        .publications__article
          | Background
          <br>
          | The Immunoglobulins (IG) and the T cell receptors (TR) play the key role in antigen recognition during the adaptive immune response. Recent progress in next-generation sequencing technologies has provided an opportunity for the deep T cell receptor repertoire profiling. However, a specialised software is required for the rational analysis of massive data generated by next-generation sequencing.
          <br><br>
          | Results
          <br>
          | Here we introduce tcR, a new R package, representing a platform for the advanced analysis of T cell receptor repertoires, which includes diversity measures, shared T cell receptor sequences identification, gene usage statistics computation and other widely used methods. The tool has proven its utility in recent research studies.
          <br><br>
          | Conclusions
          <br>
          | tcR is an R package for the advanced analysis of T cell receptor repertoires after primary TR sequences extraction from raw sequencing reads. The stable version can be directly installed from The Comprehensive R Archive Network (http://cran.r-project.org/mirrors.html). The source code and development version are available at tcR GitHub (http://imminfo.github.io/tcr/) along with the full documentation and typical usage examples.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Quantitative profiling of immune repertoires for minor lymphocyte counts using unique molecular identifiers. J Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Egorov ES, Merzlyak EM, Shelenkov AA, Britanova OV, Sharonov GV, Staroverov DB, Bolotin DA, Davydov AN, Barsova E, Lebedev YB, Shugay M, Chudakov DM.
          .notes.publications__link 194(12):6155-63. <a href="http://www.jimmunol.org/content/194/12/6155.long" class="notes--link" target="_blank">doi: 10.4049/jimmunol.1500215.↗</a>
          .notes 2015 Jun 15

        .publications__article
          | Emerging high-throughput sequencing methods for the analyses of complex structure of TCR and BCR repertoires give a powerful impulse to adaptive immunity studies. However, there are still essential technical obstacles for performing a truly quantitative analysis. Specifically, it remains challenging to obtain comprehensive information on the clonal composition of small lymphocyte populations, such as Ag-specific, functional, or tissue-resident cell subsets isolated by sorting, microdissection, or fine needle aspirates. In this study, we report a robust approach based on unique molecular identifiers that allows profiling Ag receptors for several hundred to thousand lymphocytes while preserving qualitative and quantitative information on clonal composition of the sample. We also describe several general features regarding the data analysis with unique molecular identifiers that are critical for accurate counting of starting molecules in high-throughput sequencing applications.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 MiXCR: software for comprehensive adaptive immunity profiling. Nat Methods.
            span.publications__more.publications__more--desktop(type="button")
          p.text Bolotin DA, Poslavsky S, Mitrophanov I, Shugay M, Mamedov IZ, Putintseva EV, Chudakov DM.
          .notes.publications__link 12(5):380-1. <a href="http://www.nature.com/nmeth/journal/v12/n5/full/nmeth.3364.html" class="notes--link" target="_blank">doi: 10.1038/nmeth.3364.↗</a>
          .notes 2015 May

        .publications__article
          | High-throughput sequencing is gaining importance in adaptive immunity studies, demanding efficient software solutions for immunoglobulin (IG) and T-cell receptor profiling. Here we report MiXCR (available at http://mixcr.milaboratory.com/ and https://github.com/milaboratory/mixcr/), a universal framework that processes big immunome data from raw sequences to quantitated clonotypes. MiXCR efficiently handles paired- and single-end reads, considers sequence quality, corrects PCR errors and identifies germline hypermutations. The software supports both partial- and full-length profiling and employs all available RNA or DNA information, including sequences upstream of V and downstream of J gene segments.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2014
        .publications__list-item-inner
          p.h3 Towards error-free profiling of immune repertoires. Nat Methods.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shugay M, Britanova OV, Merzlyak EM, Turchaninova MA, Mamedov IZ, Tuganbaev TR, Bolotin DA, Staroverov DB, Putintseva EV, Plevova K, Linnemann C, Shagin D, Pospisilova S, Lukyanov S, Schumacher TN, Chudakov DM.
          .notes.publications__link Epub ahead of print. <a href="http://www.nature.com/nmeth/journal/v11/n6/full/nmeth.2960.html" class="notes--link" target="_blank">doi: 10.1038/nmeth.2960.↗</a>
          .notes 2014 May 4

        .publications__article
          | Deep profiling of antibody and T cell–receptor repertoires by means of high-throughput sequencing has become an attractive approach for adaptive immunity studies, but its power is substantially compromised by the accumulation of PCR and sequencing errors. Here we report MIGEC (molecular identifier groups–based error correction), a strategy for high-throughput sequencing data analysis. MIGEC allows for nearly absolute error correction while fully preserving the natural diversity of complex immune repertoires.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Distinctive properties of identical twins’ TCR repertoires revealed by high-throughput sequencing. PNAS.
            span.publications__more.publications__more--desktop(type="button")
          p.text Zvyagin IV, Pogorely MV, Ivanova ME, Komech EA, Shugay M, Bolotin DA, Shelenkov AA, Kurnosov AA, Staroverova DB, Chudakov DM, Lebedev YB, Mamedov IZ.
          .notes.publications__link Epub ahead of print. <a href="http://www.pnas.org/cgi/pmidlookup?view=long&pmid=24711416" class="notes--link" target="_blank">doi: 10.1073/pnas.1319389111.↗</a>
          .notes 2014 Apr 7

        .publications__article
          | Adaptive immunity in humans is provided by hypervariable Ig-like molecules on the surface of B and T cells. The final set of these molecules in each organism is formed under the influence of two forces: individual genetic traits and the environment, which includes the diverse spectra of alien and self-antigens. Here we assess the impact of individual genetic factors on the formation of the adaptive immunity by analyzing the T-cell receptor (TCR) repertoires of three pairs of monozygous twins by next-generation sequencing. Surprisingly, we found that an overlap between the TCR repertoires of monozygous twins is similar to an overlap between the TCR repertoires of nonrelated individuals. However, the number of identical complementary determining region 3 sequences in two individuals is significantly increased for twin pairs in the fraction of highly abundant TCR molecules, which is enriched by the antigen-experienced T cells. We found that the initial recruitment of particular TCR V genes for recombination and subsequent selection in the thymus is strictly determined by individual genetic factors. J genes of TCRs are selected randomly for recombination; however, the subsequent selection in the thymus gives preference to some α but not β J segments. These findings provide a deeper insight into the mechanism of TCR repertoire generation.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Age-Related Decrease in TCR Repertoire Diversity Measured with Deep and Normalized Sequence Profiling. J Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Britanova OV, Putintseva EV, Shugay M, Merzlyak EM, Turchaninova MA, Staroverov DB, Bolotin DA, Lukyanov S, Bogdanova EA, Mamedov IZ, Lebedev YB, Chudakov DM.
          .notes.publications__link Epub ahead of print. <a href="http://www.jimmunol.org/cgi/pmidlookup?view=long&pmid=24510963" class="notes--link" target="_blank">doi: 10.4049/jimmunol.1302064.↗</a>
          .notes 2014 Dec 7

        .publications__article
          | The decrease of TCR diversity with aging has never been studied by direct methods. In this study, we combined high-throughput Illumina sequencing with unique cDNA molecular identifier technology to achieve deep and precisely normalized profiling of TCR β repertoires in 39 healthy donors aged 6–90 y. We demonstrate that TCR β diversity per 106 T cells decreases roughly linearly with age, with significant reduction already apparent by age 40. The percentage of naive T cells showed a strong correlation with measured TCR diversity and decreased linearly up to age 70. Remarkably, the oldest group (average age 82 y) was characterized by a higher percentage of naive CD4+ T cells, lower abundance of expanded clones, and increased TCR diversity compared with the previous age group (average age 62 y), suggesting the influence of age selection and association of these three related parameters with longevity. Interestingly, cross-analysis of individual TCR β repertoires revealed a set >10,000 of the most representative public TCR β clonotypes, whose abundance among the top 100,000 clones correlated with TCR diversity and decreased with aging.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .h2 2013
        .publications__list-item-inner
          p.h3 Huge Overlap of Individual TCR Beta Repertoires.Front Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Shugay M, Bolotin DA, Putintseva EV, Pogorelyy MV, Mamedov IZ, Chudakov DM.
          .notes.publications__link 4:466. <a href="http://journal.frontiersin.org/article/10.3389/fimmu.2013.00466/full" class="notes--link" target="_blank">doi: 10.3389/fimmu.2013.00466.↗</a>
          .notes 2013 Dec 25

        .publications__article
          | It has been reported that human TCR repertoires commonly carry so-called public clonotypes – CDR3 variants that are often shared between individuals. Cross-comparison of individual immune repertoires has previously revealed the existence of a population of TCR beta CDR3 variants that are identical at the amino acid level for any two donors. The lower bound for the total overlap between any two given donors’ TCR beta repertoires within their CD8+ naïve T cell subset has been estimated as ~14,000 identical amino acid CDR3 variants based on comparison of 200,000–600,000 individual TCR beta clonotypes. Here, we have used deep profiling data consisting of 1–2 × 10-6 individual TCR beta clonotypes that we obtained from healthy donors to better estimate the total overlap between TCR beta repertoires for any two individuals.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Mother and child T cell receptor repertoires: deep profiling study. Front Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Putintseva EV, Britanova OV, Staroverov DB, Merzlyak EM, Turchaninova MA, Shugay M, Bolotin DA, Pogorelyy MV, Mamedov IZ, Bobrynina V, Maschan M, Lebedev YB, Chudakov DM.
          .notes.publications__link 4:463. <a href="http://journal.frontiersin.org/article/10.3389/fimmu.2013.00463/abstract" class="notes--link" target="_blank">doi: 10.3389/fimmu.2013.00463.↗</a>
          .notes 2013 Dec 25

        .publications__article
          | The relationship between maternal and child immunity has been actively studied in the context of complications during pregnancy, autoimmune diseases, and haploidentical transplantation of hematopoietic stem cells and solid organs. Here, we have for the first time used high-throughput Illumina HiSeq sequencing to perform deep quantitative profiling of T cell receptor (TCR) repertoires for peripheral blood samples of three mothers and their six children. Advanced technology allowed accurate identification of 5 × 105 to 2 × 106 TCR beta clonotypes per individual. We performed comparative analysis of these TCR repertoires with the aim of revealing characteristic features that distinguish related mother-child pairs, such as relative TCR beta variable segment usage frequency and relative overlap of TCR beta complementarity-determining region 3 (CDR3) repertoires. We show that thymic selection essentially and similarly shapes the initial output of the TCR recombination machinery in both related and unrelated pairs, with minor effect from inherited differences. The achieved depth of TCR profiling also allowed us to test the hypothesis that mature T cells transferred across the placenta during pregnancy can expand and persist as functional microchimeric clones in their new host, using characteristic TCR beta CDR3 variants as clonal identifiers.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Preparing unbiased T-cell receptor and antibody cDNA libraries for the deep next generation sequencing profiling. Front Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Mamedov IZ, Britanova OV, Zvyagin IV, Turchaninova MA, Bolotin DA, Putintseva EV, Lebedev YB, Chudakov DM.
          .notes.publications__link 4:456. <a href="http://journal.frontiersin.org/article/10.3389/fimmu.2013.00456/abstract" class="notes--link" target="_blank">doi: 10.3389/fimmu.2013.00456.↗</a>
          .notes 2013 Dec 23

        .publications__article
          | High-throughput sequencing has the power to reveal the nature of adaptive immunity as represented by the full complexity of T-cell receptor (TCR) and antibody (IG) repertoires, but is at present severely compromised by the quantitative bias, bottlenecks, and accumulated errors that inevitably occur in the course of library preparation and sequencing. Here we report an optimized protocol for the unbiased preparation of TCR and IG cDNA libraries for high-throughput sequencing, starting from thousands or millions of live cells in an investigated sample. Critical points to control are revealed, along with tips that allow researchers to minimize quantitative bias, accumulated errors, and cross-sample contamination at each stage, and to enhance the subsequent bioinformatic analysis. The protocol is simple, reliable, and can be performed in 1–2 days.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 MiTCR: software for T-cell receptor sequencing data analysis. Nat Methods.
            span.publications__more.publications__more--desktop(type="button")
          p.text Bolotin DA, Shugay M, Mamedov IZ, Putintseva EV, Turchaninova MA, Zvyagin IV, Britanova OV, Chudakov DM.
          .notes.publications__link 10(9):813-4. <a href="http://www.nature.com/nmeth/journal/v10/n9/full/nmeth.2555.html" class="notes--link" target="_blank">doi: 10.1038/nmeth.2555.↗</a>
          .notes 2013 Aug

        .publications__article
          | High-throughput sequencing technologies have transformed the field of antigen receptor diversity studies, enabling deep and quantitative analysis for deciphering adaptive immunity function in health and disease. As more data are produced each year, there is steadily growing demand for standardized analysis software.<br>Here we report MiTCR, an open-source software for rapid, robust and comprehensive analysis of hundreds of millions of raw high-throughput sequencing reads containing sequences encoding human or mouse α or β T-cell antigen receptor (TCR) chains (Supplementary Software). Raw data in FASTQ format generated via Illumina, 454 or Ion Torrent sequencing can be used as input for analysis. The only requirement is that sequence encoding conserved positions flanking the complementarity-determining region 3 (CDR3), Cys104 and Phe118 or Trp118, is covered by a sequencing read.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 Pairing of T-cell receptor chains via emulsion PCR. Eur J Immunol.
            span.publications__more.publications__more--desktop(type="button")
          p.text Turchaninova MA, Britanova OV, Bolotin DA, Shugay M, Putintseva EV, Staroverov DB, Sharonov G, Shcherbo D, Zvyagin IV, Mamedov IZ, Linnemann C, Schumacher TN, Chudakov DM.
          .notes.publications__link 43(9):2507-15. <a href="http://onlinelibrary.wiley.com/doi/10.1002/eji.201343453/abstract;jsessionid=9313B50324AE10EB5FE3F7B5C82A857E.f04t02?systemMessage=Wiley+Online+Library+will+have+be+unavailable+on+Saturday+5th+December+from+10%3A00-14%3A00+GMT+%2F+05%3A00-09%3A00+EST+%2F+18%3A00-22%3A00+SGT+for+essential+maintenance.+Apologies+for+the+inconvenience." class="notes--link" target="_blank">doi: 10.1002/eji.201343453.↗</a>
          .notes 2013 Sep

        .publications__article
          | Our ability to analyze adaptive immunity and engineer its activity has long been constrained by our limited ability to identify native pairs of heavy–light antibody chains and alpha–beta T-cell receptor (TCR) chains — both of which comprise coupled “halves of a key”, collectively capable of recognizing specific antigens. Here, we report a cell-based emulsion RT-PCR approach that allows the selective fusion of the native pairs of amplified TCR alpha and beta chain genes for complex samples. A new type of PCR suppression technique was developed that makes it possible to amplify the fused library with minimal noise for subsequent analysis by high-throughput paired-end Illumina sequencing. With this technique, single analysis of a complex blood sample allows identification of multiple native TCR chain pairs. This approach may be extended to identify native antibody chain pairs and, more generally, pairs of mRNA molecules that are coexpressed in the same living cells.
        button.publications__more.publications__more--mob(type="button")
      .publications__list-item
        .publications__list-item-inner
          p.h3 High-throughput identification of antigen-specific TCRs by TCR gene capture. Nat Medicine.
            span.publications__more.publications__more--desktop(type="button")
          p.text Linnemann, C., Heemskerk, B., Kvistborg, P., Kluin, R.J.C., Bolotin, D.A., Chen, X.,Bresser, K., Nieuwland, M., Schotte, R., Michels, M., Gomez-Eerland, R., Jahn, L., Hombrink, P., Legrand, N., Shu, C.J., Mamedov, I.Z., Velds, A., Blank, C.U., Haanen, J.B.A.G., Turchaninova, M.A., Kerkhoven, R.M., Spits, H., Reker Hadrup, S., Heemskerk, M.H.M, Blankenstein, T., Chudakov, D.M, Bendle, G.M. , Schumacher, T.N.M.
          .notes.publications__link 9(11):1534-41. <a href="http://www.nature.com/nm/journal/v19/n11/full/nm.3359.html" class="notes--link" target="_blank">doi: 10.1038/nm.3359.↗</a>
          .notes 2013 Nov

        .publications__article
          | The transfer of T cell receptor (TCR) genes into patient T cells is a promising approach for the treatment of both viral infections and cancer. Although efficient methods exist to identify antibodies for the treatment of these diseases, comparable strategies to identify TCRs have been lacking. We have developed a high-throughput DNA-based strategy to identify TCR sequences by the capture and sequencing of genomic DNA fragments encoding the TCR genes. We establish the value of this approach by assembling a large library of cancer germline tumor antigen–reactive TCRs. Furthermore, by exploiting the quantitative nature of TCR gene capture, we show the feasibility of identifying antigen-specific TCRs in oligoclonal T cell populations from either human material or TCR-humanized mice. Finally, we demonstrate the ability to identify tumor-reactive TCRs within intratumoral T cell subsets without knowledge of antigen specificities, which may be the first step toward the development of autologous TCR gene therapy to target patient-specific neoantigens in human cancer.
        button.publications__more.publications__more--mob(type="button")




block bodyEnd

block bodyVendorScripts

block bodyCustomScripts