extends ./layout/layout.pug

block globalVars

block variables
  - let isService = true;
  - let isBlue2 = true;

block headEnd

block bodyStart

block variables
  - let isServices = true;

block content
  .services.container
    .subtitle.notes
      a(href="./home.html") ↲ INDEX
    .kits__title.title
      .title__left.h1
        | Services
      .title__right.text
        | Quantitative and reproducible, human, monkey (macaque), and mouse, TCR and BCR repertoire profiling using advanced unbiased amplification technology with unique molecular identifiers (UMI)
    .marquee.marquee3k( data-speed="0.25" data-pausable="true")
      .notes Advanced data analysis and enterpretation&nbsp;&nbsp;⁕&nbsp;&nbsp;Repertoire extraction and basic analysis&nbsp;&nbsp;⁕&nbsp;&nbsp;Sample proceccing and sequencing&nbsp;&nbsp;⁕&nbsp;&nbsp;Experiment planning&nbsp;&nbsp;⁕
    .services__form-block
      h2.h1 Select Features
      .services__form-header
        .services__form-method.notes Method used
        .services__form-material.notes Starting material
        .services__form-chains.notes Chains available
        .services__form-species.notes Species available
      form.services__form( action="#" method="post" )
        fieldset.services__form-fieldset
          .services__form-legend.services__form-method
            .subtitle.notes
              span Method used
            .h2 5’RACE<br> with UMI
            .notes.services__form-list
              span &ensp;⁕ Quantitative
              span &ensp;⁕ Error-free
              span &ensp;⁕ Full-lenght
              span &ensp;⁕ Hypermutations
              span &ensp;⁕ All isotypes
          .services__form-item.services__form-material
            .subtitle.notes.services__form-list
              span Starting material
            input(type="checkbox" id="High_quality_RNA-1" name="Starting_material-1" value="High quality RNA")
            label.notes( for="High_quality_RNA-1") High quality RNA
              span.services__form-item-note ⁕ Extracted from pbmc
              span.services__form-item-note ⁕ Sorted cells
              span.services__form-item-note ⁕ Whole blood paxgene (r) tubes
              span.services__form-item-note ⁕ FF tissue

          .services__form-item.services__form-chains
            .subtitle.notes
              span Chains available
            input(type="checkbox" id="TCR_alpha/beta-1" name="Chains_available-1" value="TCR alpha/beta")
            label.notes( for="TCR_alpha/beta-1") TCR alpha/beta
            input(type="checkbox" id="TCR_gamma/delta-1" name="Chains_available-1" value="TCR gamma/delta")
            label.notes( for="TCR_gamma/delta-1") TCR gamma/delta
            input(type="checkbox" id="IG_heavy-1" name="Chains_available-1" value="IG heavy")
            label.notes( for="IG_heavy-1") IG heavy
            input(type="checkbox" id="IG_Light-1" name="Chains_available-1" value="IG Light")
            label.notes( for="IG_Light-1") IG Light
          .services__form-item.services__form-species
            .subtitle.notes.services__form-list
              span Species available
            input(type="checkbox" id="Human-1" name="Species_available-1" value="Human")
            label.notes( for="Human-1") Human
            input(type="checkbox" id="Monkey-1" name="Species_available-1" value="Monkey")
            label.notes( for="Monkey-1") Monkey
            input(type="checkbox" id="Mouse-1" name="Species_available-1" value="Mouse")
            label.notes( for="Mouse-1") Mouse
            input(type="checkbox" id="Other-1" name="Species_available-1" value="Other")
            label.notes( for="Other-1") Rat
            input(type="checkbox" id="Rat-1" name="Species_available-1" value="Rat")
            label.notes( for="Rat-1") Other
        fieldset.services__form-fieldset
          .services__form-legend.services__form-method
            .subtitle.notes.services__form-list
              span Method used
            .h2 RNA<br> Multiplex
            .notes.services__form-list
              span ⁕ Sensitivity
              span ⁕ CDR3 only
              span ⁕ Low quality RNA works
          .services__form-item.services__form-material
            .subtitle.notes.services__form-list
              span Starting material
            input(type="checkbox" id="Low_quality_RNA-2" name="Starting_material-2" value="Low quality RNA")
            label.notes( for="Low_quality_RNA-2") Low quality RNA
              span.services__form-item-note ⁕ or high quality RNA from low cell numbers

          .services__form-item.services__form-chains
            .subtitle.notes.services__form-list
              span Chains available
            input(type="checkbox" id="TCR_alpha/beta-2" name="Chains_available-2" value="TCR alpha/beta")
            label.notes( for="TCR_alpha/beta-2") TCR alpha/beta

          .services__form-item.services__form-species
            .subtitle.notes.services__form-list
              span Species available
            input(type="checkbox" id="Human-2" name="Species_available-2" value="Human")
            label.notes( for="Human-2") Human
        fieldset.services__form-fieldset
          .services__form-legend.services__form-method
            .subtitle.notes
              span Method used
            .h2 DNA<br> Multiplex
            .notes.services__form-list
              span ⁕ Quantitative
              span ⁕ CDR3 only
              span ⁕ All-in-on
          .services__form-item.services__form-material
            .subtitle.notes.services__form-list
              span Starting material
            input(type="checkbox" id="Low_quality_RNA-3" name="Starting_material-3" value="Low quality RNA")
            label.notes( for="Low_quality_RNA-3") DNA
              span.services__form-item-note ⁕ or high quality RNA from low cell numbers

          .services__form-item.services__form-chains
            .subtitle.notes.services__form-list
              span Chains available
            input(type="checkbox" id="TCR_alpha/beta-3" name="Chains_available-3" value="7 genes in one")
            label.notes( for="TCR_alpha/beta-3") 7 genes in one

          .services__form-item.services__form-species
            .subtitle.notes.services__form-list
              span Species available
            input(type="checkbox" id="Human-3" name="Species_available-3" value="Human")
            label.notes( for="Human-3") Human
        .services__btn-sticky
          button.services__form-btn.bordered-link.bordered-link--black(type="submit") Inquire
      .services__clear.bordered-link
        button(type="button") Clean all
      span.services__writeus.notes OR <A href="">Write us</a> If you need something special

  .terms
    .container
      h2.h2 Order Terms
      .terms__list
        .terms__list-item
          .notes-title Turnaround time
          .notes is routinely about 1-3 months. Actual time may depend on complexity of starting materials.
        .terms__list-item
          .notes-title Outcomes
          .notes depends on nature and quality of starting material. Study director will discuss technical concerns as they arise.
        .terms__list-item
          .notes-title Confidentiality
          .notes All data, materials and IP remain property of the client and will be confidentially stored in our lab and our secure servers hosted in AWS.
        .terms__list-item
          .notes-title Payment method and terms
          .notes No credit cards accepted. Net 30 days upon delivery of service report.
        .terms__list-item
          .notes-title Important Note
          .notes We are not permitted to accept any starting material which is infectious for humans, animals or plants.
      h2.h2 Shipment
      .terms__note.notes-title Contact us to discuss sample preparation protocol and to arrange a shipment
      //.terms__list
      //  .terms__list-item
      //    .notes-title RNA stable tubes
      //    .notes We accept RNA isolated by any standard method in GenTegra/RNAstable tubes or cellular lysate in RLT® buffer (QIAGEN) in 1.5 ml screw-cap conical microcentrifuge tubes sealed with parafilm.
      //  .terms__list-item
      //    .notes-title Requirements
      //    .notes Description of samples in the shipping documents may vary depending on country requirements. It is essential to mention "scientific research samples"and "have no  commercial value". Please do  not mention "medical", "diagnostic", "biological" or "ethanol" anywhere in the  shipping documents.  Please  contact us before sending samples.
      //  .terms__list-item
      //    .notes-title Delivery
      //    .notes Please DO NOT send the materials via FedEx due to limitations on delivery of any chemical substances via this carrier to Russian Federation.<br><br>Please DO NOT send samples on dry ice or blue ice as such packages require special customs handling and otherwise will not be delivered.

  .navigation
    .container
      .subtitle.mb-md.notes
        span NAVIGATION
    .navigation__list
      .container
        .navigation__list-item
          .navigation__list-title.h1 Software
          .navigation__list-text.notes Analysis of high-throughput sequencing data
          .navigation__list-number.text 02
          a.navigation__list-item-link(href="./software.html")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title.h1 Custom R&amp;D
          .navigation__list-text.notes Immune repertoire pipeline for your investigation
          .navigation__list-number.text 03
          a.navigation__list-item-link(href="./customR&D.html")
            span.navigation__list-next ↳
        .navigation__list-item
          .navigation__list-title.h1 Services
          .navigation__list-text.notes Order TCR and BCR profiling service
          .navigation__list-number.text 04
          a.navigation__list-item-link(href="./services.html")
            span.navigation__list-next ↳

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
