extends ./layout/layout.pug

block globalVars

block headEnd

block bodyStart



block content
  .container
    | Тут будет страница
    marquee( behavior="scroll" direction="left" bgcolor="")
     | Advanced data analysis and enterpretation   ⁕    Repertoire extraction and basic analYsis ⁕  Sample proceccing and sequencing   ⁕   Experiment planning ⁕

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts