extends ./layout/layout.pug

block globalVars

block variables
  - let isSoftware = true;
  - let isGreen2 = true;

block headEnd



block bodyStart



block content
  .software.container
    .subtitle.notes.subtitle--no-text
      a(href="./home.html") ↲ INDEX
    .title
      .title__left.h1.title--bordered.no-uppercase
        | MiXCR PRO
      .title__right.title__right--btn.text
        | MiXCR PRO is a universal software for fast and rigorous interactive analysis of T-cell  and B-cell receptor repertoire high-throughput sequencing data.
        .bordered-link.bordered-link--black
          a(href="") Try for free
    .software__top-list
      .software__top-list-item
        .h3 Universal
        .text Extracts repertoire information from the data obtained with any kind of library preparation protocol (RepSeq, RNA-Seq, Single Cell; with or without UMI), starting material and species.

      .software__top-list-item
        .h3 Reliable
        .text Efficiently corrects PCR and sequencing errors, identifies germline hypermutations, and assembles contig sequencing with the highest possible sensitivity and zero false-positive rate.

      .software__top-list-item
        .h3 Fast
        .text Allows to efficiently process any amount of NGS data and scale as much as computing resources allow.

      .software__top-list-item
        .h3 Interactive
        .text Provides a wide range of interactive post-analysis algorithms for extraction of clinically relevant features, comparing and grouping datasets, with the ability to export publication-quality figures and data tables.

    .software__list
      .software__list-item
        .software__list-item-text
          .h2 Repertoire profiling from raw sequencing data
          .text MiXCR PRO allows extraction of repertoire data directly from sequencer output. Intuitive user interface for analysis parameter selections helps to easily find optimal settings for your dataset. Many optimal presets for popular data types, generated with industry standard protocols and commercially available reagent kits.
        .software__list-item-img
          img(src="assets/software/software1@1x.png",srcset="assets/software/software1@1x.png 2x" alt="")
      .software__list-item.software__list-item--reverse
        .software__list-item-img
          img(src="assets/software/software2@1x.png",srcset="assets/software/software2@2x.png 2x" alt="")
        .software__list-item-text.software__list-item-text--reverse
          .h2 Interactive exploring and comparison of datasets
          .text MiXCR PRO provides comprehensive instruments to intersect T- and B-cell repertoires from different samples. Powerful interactive overlap browser and visualization tools help quickly identify similarities between samples and individual clones responsible for it.
      .software__list-item
        .software__list-item-text
          .h2 Comprehensive interactive statistical analysis of TCR and BCR repertoires
          .text MiXCR PRO provides tools to calculate many scalar characteristics of repertoires, like diversity estimates, averaged characteristics of clonotype sequences etc., and quickly compare them between samples with correctly applied statistical tests.
        .software__list-item-img
          img(src="assets/software/software3@1x.png",srcset="assets/software/software3@1x.png 2x" alt="")
    .software__btn
      button.modal-btn.bordered-link.bordered-link--black(typу="button") Request beta version
  include ./partials/modal.pug

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts
