extends ./layout/layout.pug
block variables
  - let isSoftware = true;

block globalVars

block headEnd



block bodyStart



block content
  .container
    | Тут будет страница

block bodyEnd

block bodyVendorScripts

block bodyCustomScripts